{% extends "www_personalgenomes_org/about-us.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "uk/navbar_top.html" with active="About-us" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">PGP UK</h2>
  <p class="lead">Founded in 2013 by Stephen Beck, the United Kingdom Personal Genome Project is located at University College London.</p>

<hr />

<h2>People</h2>

<ul class="thumbnails">

  <li class="span4 bio">
    <img src="/static/img/uk/StephanBeck.jpg" class="img-rounded" />
    <h4>Stephen Beck</h4><h5>PGP-UK Director</h5>
    <p>Professor Stephan Beck, PhD is the director for Personal Genome Project (PGP) - UK. He is Professor of Medical Genomics at the UCL Cancer Institute, who has over 30 years experience in genomics and played a leading role in the Human Genome Project. He also has broad interests in the genomics and epigenomics of phenotypic plasticity in health and disease.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/RifatHamoudi.jpg" class="img-rounded" style="max-width:100px" />
    <h4>Rifat Hamoudi</h4><h5>Informatics and Computational Analysis Leader</h5>
    <p>Rifat Hamoudi, PhD is the lead in informatics and computational analysis. He worked in cancer genetics and molecular pathology establishing and applying novel methodologies and algorithms for molecular screening, biomarker discoveries and understanding the molecular mechanism of disease. Currently, he is Senior Lecturer in Computational & Molecular Pathology at the Research Department of Tissue and Energy within the Division of Surgery & Interventional Sciences at UCL.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/JaneKaye.jpg" class="img-rounded" />
    <h4>Jane Kaye</h4><h5>Ethics and Social Implications Leader</h5>
    <p>Jane Kaye, DPhil is the lead in ethics, legal and social issues (ELSI). Jane is also Director of the Centre for Law, Health and Emerging Technologies at Oxford (HeLEX) based in the Nuffield Department of Population Health at the University of Oxford. She was admitted to practice as a solicitor/barrister in 1997. Her research involves investigating the relationships between law, ethics, and practice in the area of emerging technologies in health. The main focus is on genomics with an emphasis on biobanks, privacy, data-sharing frameworks, global governance and translational research.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/EmanueleLibertini.jpg" class="img-rounded" />
    <h4>Emanuele Libertini</h4><h5>Informatics and Computational Analysis Officer</h5>
    <p>Emanuele Libertini, PhD is involved in computational analysis and IT administration. He has worked in the epigenomics field at Institute Pasteur Paris, applying methods for NGS analysis involving multiple types of datasets, understanding genetic and epigenetic mechanisms of disease. Currently, he is Research Associate at the Cancer Research Institute at UCL.</p>
  </li>

</ul>

{% endblock main %}
