{% extends "www_personalgenomes_org/about-us.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: United Kingdom" icon="/static/img/uk/uk-flag.jpg" active="About-us" login_url="https://my.personalgenomes.org.uk" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">PGP UK</h2>
  <p class="lead">Founded in 2013 by Stephan Beck, the United Kingdom Personal Genome Project is located at University College London.</p>

<hr />

<h2>People</h2>

<ul class="thumbnails">

  <li class="span4 bio">
    <img src="/static/img/uk/StephanBeck.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Stephan Beck</h4><h5>PGP-UK Director</h5>
    <p>Stephan Beck is directing the UK contribution to the Personal Genome Project. He is Professor of Medical Genomics at the UCL Cancer Institute where he studies the genomics and epigenomics of phenotypic plasticity to advance translational, regenerative and personalised medicine. During his tenure as Head of Human Sequencing at the Wellcome Trust Sanger Institute, he played a leading role in the Human Genome Project and subsequently in the Human Epigenome Project.</p>
  </li>
 
  <li class="span4 bio">
    <img src="/static/img/uk/RifatHamoudi.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Rifat Hamoudi</h4><h5>Computational Analysis and Software Development Leader</h5>
    <p>Rifat Hamoudi, PhD is the lead in computational analysis snd software development. He worked in cancer genetics and molecular pathology establishing and applying novel wet methodologies, algorithms and software for molecular screening, biomarker discoveries and understanding the molecular mechanism of disease. Currently, he is Senior Lecturer in Computational & Molecular Pathology at the Research Department of Tissue and Energy within the Division of Surgery & Interventional Sciences at UCL.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/JaneKaye.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Jane Kaye</h4><h5>Ethics and Social Implications Leader</h5>
    <p>Jane Kaye, DPhil is the lead in ethics, legal and social issues (ELSI). Jane is also Director of the Centre for Law, Health and Emerging Technologies at Oxford (HeLEX) based in the Nuffield Department of Population Health at the University of Oxford. She was admitted to practice as a solicitor/barrister in 1997. Her research involves investigating the relationships between law, ethics, and practice in the area of emerging technologies in health. The main focus is on genomics with an emphasis on biobanks, privacy, data-sharing frameworks, global governance and translational research.</p>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/EmanueleLibertini.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Emanuele Libertini</h4><h5>Informatics and Computational Analysis Officer</h5>
    <p>Emanuele Libertini, PhD is involved in computational analysis and IT administration. He has worked in the epigenomics field at Institute Pasteur Paris, applying methods for NGS analysis involving multiple types of datasets, understanding genetic and epigenetic mechanisms of disease. Currently, he is Research Associate at the Cancer Research Institute at UCL.</p>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Javier_Herrero.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Javier Herrero</h4><h5>Informatics Analysis Leader</h5>
    <p>Javier Herrero, PhD is the Informatics Analysis Leader of the PGP-UK project. He is the Head of the Bill Lyons Informatics Centre at the UCL Cancer Institute.  His experience in large-scale genomic studies includes the analysis of several vertebrate genomes as well as his contributions to the 1000 Genomes and to the ENCODE projects. His scientific interests focus on a better understanding of the human genome and more precisely on the study of genome variants and how these relate to disease.</p>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Paul_Harrison.jpg" class="img-rounded" style="max-width:160px" />
    <h4>Paul Harrison</h4><h5>Arts & Public Engagement Projects Leader</h5>
    <p>Paul Liam Harrison, PhD is an artist and researcher whose practice inherently combines the use of traditional print methods and materials with new and emerging technologies. His research interests include an ongoing investigation into the relationships between art, science and society - particularly the inter-relations of visual arts and biological sciences. His work is essentially collaborative and is intended to facilitate creative community and interdisciplinary dialogue in an exploration of these relationships in both a specialist and public context. He is a lecturer in Art & Media at Duncan of Jordanstone College of 
Art & Design (DJCAD) and is based at the Visual Research Centre (VRC), University of Dundee.</p>
  </li>

</ul>

{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
