{% extends "www_personalgenomes_org/contact-us.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: United Kingdom" icon="/static/img/uk/uk-flag.jpg" %}
{% endblock navbar %}

{% block contact_local %}
<h2>Contact PGP UK</h2>
<table class="table table-hover">
  <tr>
    <td><h4>Postal Address:</h4></td>
    <td>Professor Stephan Beck<br />
      Personal Genome Project UK<br />
      Research Department of Cancer Biology<br />
      Cancer Institute<br />
      Faculty of Medical Sciences<br />
      University College London<br />
      Paul O'Gorman Building<br />
      72, Huntley Street<br />
      London<br />
      WC1E 6BT.<br /></td>
  </tr>
  <tr>
    <td><h4>Press and media inquiries:</h4></td>
    <td><a href="mailto:pgp-uk-press@ucl.ac.uk">pgp-uk-press@ucl.ac.uk</a></td>
  </tr>
  <tr>
    <td><h4>Other queries about PGP UK:</h4></td>
    <td><a href="mailto:pgp-uk@ucl.ac.uk">pgp-uk@ucl.ac.uk</a></td>
  </tr>
</table>
{% endblock contact_local %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
