{% extends "uk/index.html" %}

{% block main %}

<h2 style="margin-top:34px;">Participation Documents</h2>

<div class="alert">
  <p><strong>Please Note:</strong> The consent forms below are for review purposes only, the signature boxes are not functional in the pdf. Once participants begin the online eligibility screening and enrollment process, they are provided with instructions for electronically signing the consent forms.</p>
</div>

<table class="table">
  <tr>
    <td>
      <h4>Consent for participation</h4>
      <p>The consent for participation, or the "full-consent". This is the main consent document participants are expected to understand and agree to when enrolling. Approved 06/06/2013.</p>
    </td>
    <td style="width:20%;min-width:110px">
      <a class="btn" href="/static/docs/uk/PGP-UK_FullConsent_06Jun13.pdf" style="margin-top:10px"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td> 
  </tr>
  <tr>
    <td>
      <h4>Study guide</h4>
      <p>This study guide explains many of the key protocols, as well as potential risks for participants when receiving and publishing whole genome data through our project. Individuals must pass an exam testing understanding of this material before they can apply to enroll in the study.
    </td>
    <td>
      <a class="btn" href="http://www.pgpstudy.org" style="margin-top:10px"><i class="icon-external-link">   </i>Visit study guide site</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Consent for Eligibility Screening</h4>
      <p>Consent for Eligibility Screening, or the "mini-consent". Participants must agree to this before beginning the enrollment process. Approval renewed 02/21/2013.</p>
    </td>
    <td>
      <a class="btn" href="/static/docs/uk/PGP-UK_MiniConsent_06Jun13.pdf" style="margin-top:10px"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
</table>

{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
