<div style="float:right; width: 580px; margin-left: auto; margin-bottom: 0px">

<div style="float:left; width: 200px; margin-top: 12px;">
<p style="font-weight: bold; color: #DD2000;">If you wish to support the PGP-UK project, please:</p>
</div>
<div style="width: 350px; margin-left: auto; margin-right: 0px ; background-color: #FF4217; color: white; box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.6); margin-top: 5px; margin-bottom: 0px; padding: 0px 10px 0px 10px;" id="header">
<a style="text-decoration: none;" href="https://aoc.ucl.ac.uk/alumni/donations-gbp-single?id=BFF810C3-6A09-4EA4-A993-4D39C96D88D1" target="_blank">
	<h1 style="color:white; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 2em; font-weight: bold; letter-spacing: -2px; padding: 0px 0px 0px 0px;">Give now</h1>
	<ul><li style="font-size: 0.9em; margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: 0;color: white; text-decoration: none; line-height: 1.15; list-style: none;">» Personal Genome Project UK (PGP-UK)</li></ul>
</a>
</div>
</div>
