{% extends "uk/index.html" %}

{% block notification-box %}{% endblock notification-box %}

{% block main %}
<h2 style="margin-top:34px;">May 17-18 Email Storm Incident and Apology</h2>
<div style="border-style:solid;border-width:5px;border-color:red;margin-top:10px;border-radius:6px;padding:10px 20px;">

<p>May 19, 2014</p>
<p>Dear PGP-UK volunteers,</p>

<p>We are devastated by the email problem, which was the result of human error, and sincerely apologise for it and any distress it may have caused.</p>

<p>We immediately responded to stop the problem spreading and will ensure that this does not happen again. We ask you for your patience and understanding while we investigate what went wrong.</p>

<p>Everyone who requested to be removed from PGP-UK will be removed and not receive any future announcements.</p>
 
<p>Once again, we apologise profusely to everyone affected and thank you for your continued support.</p>
 
<p>PGP-UK Team<br/>
Contact details: <a href="http://www.personalgenomes.org/uk/contact-us">http://www.personalgenomes.org/uk/contact-us</a></p>
</div>

<h3>Detailed account of the incident</h3>

<p>Since the Personal Genome Project UK was announced in November 2013, approximately 10,460 people registered to be notified when enrolment opens.</p>

<p>On Saturday the 17th of May 2014 at 8.42pm, the Personal Genome Project UK staff sent an email to this list of registrants, announcing that enrolment was now open and providing instructions on how to begin the online process.</p>

<p>Just before midnight on Saturday, one person replied to the email. Due to a configuration error, this email message, including this person’s name and email address, was sent to the entire mailing list, even though the message was intended only for the Personal Genome Project UK staff.</p>

<p>Within a few hours, approximately 220 people replied to the email list in a similar manner. Each reply, along with the sender’s email address and any other content in the message, including possibly full name, was sent to the whole list of registrants, thus setting off an “<a href="https://en.wikipedia.org/wiki/Email_storm">email storm</a>” that filled the inboxes of people on the list.</p>

<p>Upon realizing that a mistake had been made, Personal Genome Project UK staff held an emergency meeting and immediately began working to solve the problem. By 2AM on 18th of May 2014 the misconfigured email address was turned off.</p>

<p>Personal Genome Project UK staff deeply regret any distress this incident may have caused. The staff is investigating the email configuration error and is taking steps to ensure that this problem never happens again.</p>

<h3>Frequently Asked Questions</h3>
<ul style="margin-bottom:20px;">
<li style="margin-bottom:5px;"><p><b>Was my name or email address mistakenly shared with other members of the PGP-UK mailing list?</b></p>
<p>The vast majority of names or email addresses were not exposed during this incident. However, if you are one of the ~220 individuals who sent a message to the email list (pgp-uk-list@ucl.ac.uk), your email address, possibly your name, and any contents of your email message were visible to the entire list of registrants.</p></li>

<li style="margin-bottom:5px;"><p><b>How do I remove my name and email address from the mailing list?</b></p>
<p>Please send your request for removal to us at: <a href="mailto:pgp-uk@ucl.ac.uk">pgp-uk@ucl.ac.uk</a>. We will remove you immediately and you will no longer receive communications from us.</p></li>
{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
