{% extends "uk/index.html" %}

{% block main %}
<h2 class="top-heading">Enrollment Process and Requirements</h2>

<p class="lead">Enrolling in the PGP-UK is an online process. Individuals considering participation should closely review our <a href="{% url 'uk:documents' %}">study guide and consent forms</a>. To qualify for enrollment, prospective participants must complete an online exam to demonstrate their comprehension of the risks and protocols associated with being a member of the PGP-UK.</p>

<p><strong>Requirements:</strong></p>
<ul style="margin-bottom:15px">
  <li>Willing to share genetic, health and trait data in a public and non-anonymous manner.</li>
  <li>United Kingdom citizen or permanent resident.</li>
  <li>At least 21 years of age.</li>
  <li>Capable of giving autonomous consent. We do not permit enrollment through legal guardianship, for example.</li>
  <li>Identical (monozygotic) twins are welcome, but both twins must complete the enrollment process to be eligible.</li>
</ul>

<a class="btn btn-primary btn-large" href="https://my.personalgenomes.org.uk/international_participants"><i class="icon-external-link">   </i>Register your interest in PGP-UK</a>

{% endblock main %}
