{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: United Kingdom" icon="/static/img/uk/uk-flag.jpg"  login_url="https://my.personalgenomes.org.uk" %}
{% endblock navbar %}

{% block notification-box %}
<div style="border-style:solid;border-width:5px;border-color:red;margin-top:10px;margin-bottom:-10px;border-radius:6px;padding:10px 20px;">
<p>May 19, 2014</p>
<p>Dear PGP-UK volunteers,</p>

<p>We are devastated by the email problem, which was the result of human error, and sincerely apologise for it and any distress it may have caused.</p>

<p>We immediately responded to stop the problem spreading and will ensure that this does not happen again. We ask you for your patience and understanding while we investigate what went wrong.</p>

<p>Everyone who requested to be removed from PGP-UK will be removed and not receive any future announcements.</p>
 
<p>Once again, we apologise profusely to everyone affected and thank you for your continued support.</p>
 
<p>PGP-UK Team<br/>
Contact details: <a href="http://www.personalgenomes.org/uk/contact-us">http://www.personalgenomes.org/uk/contact-us</a></p>
</div>
{% endblock notification-box %}

{% block index_mainbox_content %}
The Personal Genome Project UK is dedicated to creating public UK genome, health, and trait data. Sharing data is critical to scientific progress, but has been hampered by traditional research practices—our approach is to invite willing participants to publicly share their personal data for the greater good.
{% endblock index_mainbox_content %}

{% block index_link_about_pgp %}{% url 'uk:about-pgp' %}{% endblock index_link_about_pgp %}

{% block index_link_sign_up %}{% url 'uk:sign-up' %}{% endblock index_link_sign_up %}

{% block index_link_data %}{% url 'uk:data' %}{% endblock index_link_data %}

{% block index_link_global_network %}{% url 'uk:global-network' %}{% endblock index_link_global_network %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
