{% extends "base.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/canada"><i class="icon-double-angle-right">   </i>United Kingdom</a>{% endblock brand %}

{% block navpills %}
<div class="row-fluid">
  <div class="span9">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'uk:index' %}">PGP UK</a></li>
      <li><a href="{% url 'uk:people' %}">People</a></li>
      <li><a href="{% url 'uk:documents' %}">Documents</a></li>
      <li><a href="{% url 'uk:enrollment' %}">Enrollment</a></li>
    </ul>
  </div>
  <div class="span3">
    <div class="pull-right">
      <a class="btn" style="margin-top:8px;" href="{% url 'network' %}">Other PGP sites</a>
      <a class="btn btn-primary" style="margin-top:8px;" href="https://my.personalgenomes.org.uk/international_participants"><i class="icon-external-link"> </i>Sign up</a>
    </div>
  </div>
</div>
{% endblock navpills %}

{% block main %}
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span9">
      <h1>PGP UK</h1>
      <p>The Personal Genome Project UK is dedicated to creating public UK genome, health, and trait data. Sharing data is critical to scientific progress, but has been hampered by traditional research practices&mdash;our approach is to invite willing participants to publicly share their personal data for the greater good.</p>
      <a class="btn btn-primary btn-large" href="{% url 'uk:enrollment' %}">Read more about enrollment</a>
    </div>
    <div class="span3">
      <img src="/static/img/uk/pgpuk-logo-only-transp.png"/>
    </div>
  </div>

</div>
{% endblock main %}
