{% extends "www_personalgenomes_org/news.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: UK" icon="/static/img/uk/uk-flag.jpg" active="Papers_and_news" login_url="https://my.personalgenomes.org.uk" %}
{% endblock navbar %}


{% block main %}

{% include "uk/donate.html" %}

<h2 style="margin-top:34px;">News</h2>

<h3>Selected news about the Personal Genome Project - United Kingdom</h3>

<table class="table table-striped">

<tr><th>Date</th><th>Item</th><th>Media</th></tr>

<tr>
<td>Apr&nbsp;2016</td>
<td><p><a href="http://www.bmj.com/content/353/bmj.i1757">The 100 000 Genomes Project [the BMJ]</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td>Apr&nbsp;2016</td>
<td><p><a href="http://www.theguardian.com/media-network/2016/apr/12/oxford-professor-luciano-floridi-european-ethical-codes-patient-data">Oxford professor calls for European ethical codes on patient data [The Guardian]</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td>Sep&nbsp;2014</td>
<td><p><a href="/static/docs/uk/PGP-UK_BSGM_Liverpool_Sep14.pdf">Professor Stephan Beck presentation on PGP-UK at the British Society for Genetic Medicine (BSGM 2104), Liverpool</a></p></td>
<td><span class="label label-success">PDF Presentation</span></td>
</tr>

<tr>
<td>Feb&nbsp;2014</td>
<td><p><a href="/static/media/uk/140217-pythagorastrousers-episode154-StephanBeck.mp3">Interview with Professor Stephan Beck about Personal Genome Project UK</a></p></td>
<td><span class="label label-warning">News Audio</span></td>
</tr>

<tr>
<td>Nov&nbsp;2013</td>
<td><p><a href="http://www.ucl.ac.uk/news/news-articles/1113/071113-donate-genome-to-science">UCL news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td>Nov&nbsp;2013</td>
<td><p><a href="http://youtu.be/hblJY4JRJgw">Interview with Jane Kaye on PGP-UK ELSI</a></p></td>
<td><span class="label label-info">News Video</span></td>
</tr>

</table>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10"><a href="{% url 'uk:news-archive' %}">Archived News</a></div>
</div>

<hr>

<h3>Blog</h3>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <p class="lead">The <a href="https://pgpukblog.wordpress.com">Personal Genome Project blog</a> posts news related to our project, including photos, interviews, and updates.</p>
    <p><a href="https://pgpukblog.wordpress.com" class="btn btn-primary btn-large"><i class="icon-external-link"></i> Visit the PGP-UK blog</a></p>
  </div>
  <div class="span1"></div>
</div>


<hr>
<p style="margin-top:40px;">Want to learn more? Check out the press links maintained by PersonalGenomes.org to see an aggregate of news from all PGP sites:</p>

<p><a href="{% url 'organization:press' %}" class="btn" style="margin:30px">PersonalGenomes.org's news about PGP sites around the world <i> </i><i class="icon-double-angle-right"></i></a></p>




{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
