{% extends "www_personalgenomes_org/news.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "uk/navbar_top.html" with active="Papers_and_press" %}
{% endblock navbar %}

{# Put publications material in the "our_papers" block to replace the default. #}
{# {% block our_papers %} #}
{# {% endblock our_papers %} #}

{% block our_press %}
<table class="table table-striped">

<tbody><tr><th>Press item</th><th>Media</th></tr>

<tr>
<td><p><a href="http://www.ucl.ac.uk/news/news-articles/1113/071113-donate-genome-to-science">UCL news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://news.sciencemag.org/biology/2013/11/u.k.-researchers-launch-open-access-genomes-project">Science journal news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://blogs.nature.com/news/2013/11/open-access-genome-project-lands-in-uk.html?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+news%2Frss%2Fnewsblog+%28News+Blog+-+Blog+Posts%29&amp;utm_content=Google+UK">Nature journal news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.bbc.co.uk/news/health-24834375">BBC news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.theguardian.com/science/2013/nov/07/personal-genome-project-uk-launch">Guardian news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.telegraph.co.uk/health/healthnews/10431550/Volunteers-sought-for-open-access-genome-project.html">Telegraph news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.thetimes.co.uk/tto/science/article3915069.ece">The Times news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.channel4.com/news/personal-genome-project-dna-volunteers">Channel 4 news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.genomeweb.com//node/1306946?">Genome web news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.ft.com/cms/s/0/834c05e4-46e8-11e3-bdd2-00144feabdc0.html">Financial Times news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://uk.reuters.com/article/2013/11/07/us-britain-genomes-idUKBRE9A600A20131107">Reuters news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://youtu.be/hblJY4JRJgw">Interview with Jane Kaye on PGP-UK ELSI</a></p></td>
<td><span class="label label-info">News Video</span></td>
</tr>

</tbody></table>

{% endblock our_press %}
