{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}

<h2 class="top-heading">Press</h2>

<h3>News Articles about the Personal Genome Project - United Kingdom</h3>

<table class="table table-striped">

<tr><th>Press item</th><th>Media</th></tr>

<tr>
<td><p><a href="http://www.personalgenomes.org.uk/static/docs/uk/140218_PGP-UK_Bristol.pdf">Professor Stephan Beck presentation on PGP-UK at the Integrative Epidemiology Unit public lecture on genome sequencing, University of Bristol</a></p></td>
<td><span class="label label-success">PDF Presentation</span></td>
</tr>

<tr>
<td><p><a href="http://www.personalgenomes.org.uk/static/docs/uk/140217-pythagorastrousers-episode154-StephanBeck.mp3">Interview with Professor Stephan Beck about Personal Genome Project UK</a></p></td>
<td><span class="label label-warning">News Audio</span></td>
</tr>

<tr>
<td><p><a href="http://www.ucl.ac.uk/news/news-articles/1113/071113-donate-genome-to-science">UCL news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://news.sciencemag.org/biology/2013/11/u.k.-researchers-launch-open-access-genomes-project">Science journal news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://blogs.nature.com/news/2013/11/open-access-genome-project-lands-in-uk.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+news%2Frss%2Fnewsblog+%28News+Blog+-+Blog+Posts%29&utm_content=Google+UK">Nature journal news about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.bbc.co.uk/news/health-24834375">BBC news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.theguardian.com/science/2013/nov/07/personal-genome-project-uk-launch">Guardian news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.telegraph.co.uk/health/healthnews/10431550/Volunteers-sought-for-open-access-genome-project.html">Telegraph news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.thetimes.co.uk/tto/science/article3915069.ece">The Times news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.channel4.com/news/personal-genome-project-dna-volunteers">Channel 4 news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.genomeweb.com//node/1306946?">Genome web news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://www.ft.com/cms/s/0/834c05e4-46e8-11e3-bdd2-00144feabdc0.html">Financial Times news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://uk.reuters.com/article/2013/11/07/us-britain-genomes-idUKBRE9A600A20131107">Reuters news article about the launch of PGP-UK</a></p></td>
<td><span class="label label-inverse">News Article</span></td>
</tr>

<tr>
<td><p><a href="http://youtu.be/hblJY4JRJgw">Interview with Jane Kaye on PGP-UK ELSI</a></p></td>
<td><span class="label label-info">News Video</span></td>
</tr>

</table>


<hr>
<h3>PGP-UK Press Contact</h3>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10"><a href="mailto:pgp-uk-press@ucl.ac.uk">pgp-uk-press@ucl.ac.uk</a></div>
</div>


<h3>PGP Blog</h3>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <p class="lead">The <a href="http://blog.personalgenomes.org">Personal Genome Project blog</a> posts news related to our project, including photos, interviews, and updates.</p>
    <p><a href="http://blog.personalgenomes.org" class="btn btn-primary btn-large"><i class="icon-external-link"></i> Visit the PGP blog</a></p>
  </div>
  <div class="span1"></div>
</div>

<hr>
<h3>Selected articles about the Personal Genome Project</h3>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">

    <p>
      <a href="http://www.scientificamerican.com/article.cfm?id=unhidden-traits-genomic-data-privacy-debates-heat-up">Unhidden Traits: Genomic Data Privacy Debates Heat Up</a> by Abdul-Kareem Ahmed. Scientific American. August 14, 2013.
    </p>

    <p>
      <a href="http://www.nytimes.com/2013/06/19/opinion/our-genes-their-secrets.html">Our Genes, Their Secrets</a> by Eleonore Pauwels. New York Times. June 18, 2013.
    </p>

    <p><a href="http://www.medpagetoday.com/Genetics/GeneticTesting/37756">Personal Genome Project: Nature and Nurture, Warts and All</a> by Michael Smith, <em>MedPage Today</em>, March 8, 2013
    </p>

    <p>
      <a href="http://www.the-scientist.com/?articles.view/articleNo/34585/title/Networking-Medicine/">Networking Medicine</a> by Jef Akst, <em>The Scientist</em>, March 2, 2013
    </p>

    <p>
      <a href="http://www.bloomberg.com/news/2013-02-25/faroes-50-000-residents-leap-into-dna-testing-quagmire.html">Faroes 50,000 Residents Leap Into DNA Testing Quagmire</a> by John Lauerman, <em>Bloomberg</em>, February 25, 2013
    </p>

    <p>
      <a href="http://www.biotechniques.com/multimedia/archive/00189/BTN_A_000113988_O_189750a.pdf">Finding the True $1000 Genome</a> by Jeffrey Perkel, <em>BioTechniques</em>, February 10, 2013
    </p>

    <p>
      <a href="http://www.nature.com/news/genetic-privacy-needs-a-more-nuanced-approach-1.12363">Genetic Privacy Needs a More Nuanced Approach</a> by Misha Angrist, <em>Nature</em>, February 6, 2013
    </p>

    <p>
      <a href="http://www.nytimes.com/2013/02/03/business/knomes-new-machine-to-aid-labs-in-genomic-analysis.html?_r=1&">Genomic Analysis, the Office Edition</a> by Anne Eisenberg, <em>New York Times</em>, February 2, 2013
    </p>

    <p>
      <a href="http://www.biocompare.com/Editorial-Articles/126329-Next-Gen-Sequencing/">Next Generation Sequencing 2013: Looking Into Genomes</a> by Jeffrey Perkel, <em>Biocompare</em>, January 29, 2013
    </p>

    <p>
      <a href="http://directorsblog.nih.gov/copy-editing-the-genome-extreme-personalized-medicine/#more-414">Copy-editing the Genome: Extreme Personalized Medicine?</a> by Francis Collins, <em>NIH Director's Blog</em>, January 22, 2013
    </p>

    <p>
      <a href="http://science-fare.com/article/anonymous-dna-donors-identified-researchers">Anonymous DNA donors identified by researchers</a> by Lee Flohr, <em>Science Fare</em>, January 21, 2013
    </p>

    <p>
      <a href="http://www.latimes.com/news/science/sciencenow/la-sci-sn-george-church-dna-genome-privacy-20130118,0,2232317.story">Geneticist on DNA privacy: Make it so people don't care</a> by Eryn Brown, <em>LA Times</em>, January 18, 2013
    </p>

    <p>
      <a href="http://www.technologyreview.com/news/509901/study-highlights-the-risk-of-handing-over-your-genome/">Study Highlights the Risk of Handing Over Your Genome</a> by Susan Young, <em>MIT Technology Review</em>, January 17, 2013
    </p>

    <p>
      <a href="http://www.wired.com/wiredscience/2013/01/your-genome-could-reveal-your-identity/">Scientists Discover How to Identify People From "Anonymous" Genomes</a> by Greg Miller, <em>Wired</em>, January 17, 2013
    </p>

    <p>
      <a href="http://www.npr.org/blogs/health/2013/01/17/169609144/anonymity-in-genetic-research-can-be-fleeting">Anonymity In Genetic Research Can Be Fleeting</a> by Veronique Lacapra, <em>NPR</em>, January 17, 2013
    </p>

    <p>
      <a href="http://www.boston.com/news/science/blogs/science-in-mind/2013/01/17/using-simple-tools-scientists-show-privacy-research-participants-risk/dq3G4lXohz93YqvE14FvuO/blog.html">Using simple tools, scientists show genetic privacy of research participants is at risk</a> by Carolyn Johnson, <em>Boston Globe</em>, January 17, 2013
    </p>

    <p>
      <a href="http://www.the-scientist.com/?articles.view/articleNo/34006/title/Anonymity-Under-Threat/">Anonymity Under Threat</a> by Ruth Williams, <em>The Scientist</em>, January 17, 2013
    </p>

    <p>
      <a href="http://thednaexchange.com/tag/personal-genome-project/">As a Genetic Counselor, Would You Go Public With Your Genome?</a> by Allie Hazell, <em>The DNA Exchange</em>, December 20, 2012
    </p>

    <p>
      <a href="http://www.guardian.co.uk/science/occams-corner/2012/dec/18/human-genome-canada-personal">The human genome: Canada gets personal</a> by Richard Wintle, <em>The Guardian</em>, December 18, 2012
    </p>

    <p>
      <a href="http://www.usatoday.com/story/news/nation/2012/12/12/big-data-instant-information-lifestyles/1765563/">'Big data' transforms our lives and lifestyles</a> by Chuck Raasch, <em>USA Today</em>, December 13, 2012
    </p>

    <p>
      <a href="http://www.theglobeandmail.com/news/national/time-to-lead/would-you-make-your-dna-and-health-data-public-if-it-may-help-cure-disease/article6090038/?page=all">Would you make your DNA and health data public if it may help cure disease?</a>  by Carolyn Abraham, <em>The Globe and Mail</em>, December 7, 2012
    </p>

    <p>
      <a href="http://www.theglobeandmail.com/news/national/time-to-lead/the-dna-dilemma-why-science-wants-your-genome/article5921666/?from=5954326">The DNA Dilemma: Why science wants your genome</a> <em>The Globe and Mail</em>, December 7, 2012
    </p>

    <p>
      <a href="http://www.usatoday.com/story/tech/2012/12/04/big-data-explosion/1729535/">Book says 'Big Data' becoming a global nervous system</a> by Chuch Raasch, <em>USA Today</em>, December 4, 2012
    </p>

    <p>
      <a href="http://www.genomeweb.com/sequencing/madeleine-price-ball-free-data">Madeleine Price Ball: Free the Data</a> by Monica Heger, <em>GenomeWeb</em>, December 2012
    </p>

    <p>
      <a href="http://www.bloomberg.com/news/2012-11-06/my-dna-results-spur-alzheimer-s-anxiety-at-12-000-cost.html">My DNA Results Spur Alzheimer's Anxiety at $12,000 Cost</a> by John Lauerman, <em>Bloomberg</em>, November 6, 2012
    </p>

    <p>
      <a href="http://kuow.org/post/george-church-harvard-biologist-behind-personal-genome-project">George Church: The Harvard Biologist Behind The Personal Genome Project</a> by David Hyde, <em>KUOW</em>, October 29, 2012
    </p>

    <p>
      <a href="http://www.nature.com/news/genome-interpreter-vies-for-place-in-clinical-market-1.11563">Genome interpreter vies for place in clinical market</a> by Monya Baker, <em>Nature</em>, October 9, 2012
    </p>

    <p>
      <a href="http://www.bio-itworld.com/news/09/27/12/Knome-launches-knoSYS100-genome-supercomputer-enhance-interpretation.html">Knome Launches knoSYS 100 Genome Supercomputer to Enhance Interpretation</a> by Kevin Davies, <em>Bio IT World</em>, September 27, 2012
    </p>

    <p>
      <a href="http://blogs.discovermagazine.com/notrocketscience/2012/09/05/encode-the-rough-guide-to-the-human-genome/#.UXX6BLXOEuA">ENCODE: the rough guide to the human genome</a> by Ed Young, <em>Discover</em>, September 5, 2012
    </p>

    <p>
      <a href="http://www.genomeweb.com/sequencing/nist-consortium-embarks-developing-meter-stick-genome-clinical-sequencing">NIST Consortium Embarks on Developing 'Meter Stick of the Genome' for Clinical Sequencing</a> by Julia Karow, <em>GenomeWeb</em>, September 5, 2012
    </p>

    <p>
      <a href="http://www.nature.com/nrg/journal/v13/n9/full/nrg3309.html">Genomics: Personal genome project</a> by Bryony Jones, <em>Nature Reviews Genetics</em>, September, 2012
    </p>

    <p>
      <a href="http://www.genomeweb.com/print/1102906">Personal Genome Project Members Report on Genome Interpretation Resource</a> <em>GenomeWeb</em>, July 10, 2012
    </p>

    <p>
      <a href="http://www.boston.com/lifestyle/health/2012/06/14/researchers-put-selves-under-the-microscope-self-experiments/ow8YUsVW9UiWunkX2SSHZL/singlepage.html">Researchers put selves under the microscope in self-experiments</a> by Carolyn Johnson, <em>Boston Globe</em>, June 13, 2012
    </p>

    <p>
      <a href="http://www.nytimes.com/2012/06/03/business/geneticists-research-finds-his-own-diabetes.html?_r=1&hpw">A Geneticist's Research Turns Personal</a> by Anne Eisenberg, <em>New York Times</em>, June 2, 2012
    </p>

    <p>
      <a href="http://io9.com/5168176/file+sharing-your-genome-with-the-world">Download Your Genomes on BitTorrent</a> by Annalee Newitz, io9, March 11, 2009.
    </p>

    <p><a href="http://www.pbs.org/newshour/extra/features/science/jan-june09/genome_01-29.html">Genomes Offer Murky Clues to Personality, Physical Traits</a> by Quinn Bowman, Online News Hour Extra, January 29, 2009.
    </p>

    <p><a href="http://www.nytimes.com/2009/01/11/magazine/11Genome-t.html?_r=2">My Genome, My Self</a> by Steven Pinker, The New York Times Magazine, January 7, 2009.
    </p>

    <p>
      "<a href="http://www.nytimes.com/2008/10/20/us/20gene.html">Taking a Peek at the Experts' Genetic Secrets</a>" by Amy Harmon, The New York Times, October 19, 2008.
    </p>

    <p>
      "<a href="http://www.boston.com/news/health/blog/2008/10/personal_genome.html">Personal Genome Project Participants Get First Look at their DNA</a>" by Carey Goldberg, Boston Globe, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.boston.com/news/local/articles/2008/10/20/subjects_dna_secrets_to_be_revealed/">Subjects' DNA Secrets to be Revealed</a>" by Carey Goldberg, Boston Globe, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.technologyreview.com/biomedicine/21579/">Genomes on Display</a>" by Emily Singer, Technology Review, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.foxnews.com/printer_friendly_wires/2008Oct20/0,4675,SCIPublicDNA,00.html">Genome Fanatics to Post Own DNA Sequences on Web</a>" by Denise Lavoie, Fox News, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.bloomberg.com/apps/news?pid=20601124&sid=a8j8Fqma4PBw&refer=home">Harvard Genome Volunteers Say They'll Reveal Own DNA</a>" by John Lauerman, Bloomberg News, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.newscientist.com/article/dn15001-thousands-volunteer-to-expose-dna-secrets-to-the-world.html?DCMP=ILC-hmts&nsref=news1_head_dn15001">Thousands Volunteer to Expose DNA Secrets to the World</a>" by Ewen Callaway, New Scientist, October 21, 2008.
    </p>

    <p>
      "<a href="http://health.usnews.com/articles/health/2008/10/20/sharing-your-personal-genetic-map-with-the-world.html">Sharing Your Personal Genetic Map With the World</a>" by Nancy Shute, U.S. News & World Report, October 20, 2008.
    </p>

    <p>
      "<a href="http://blogs.wsj.com/health/2008/10/20/a-new-sort-of-facebook-posting-your-genes-on-the-web/">A New Sort of Facebook: Posting Your Genes on the Web</a>" by Sarah Rubenstein, Wall Street Journal blog entry, October 20, 2008.
    </p>

    <p>
      "<a href="http://www.wbur.org/news/2008/80815_20081020.asp">10 Bay Staters to Post DNA Online</a>" by Sacha Pfeiffer, WBUR (NPR's Boston affiliate), October 20, 2008.
    </p>

    <p>
      "<a href="http://www.washingtonpost.com/wp-dyn/content/story/2008/10/17/ST2008101703449.html ">Genome Database Will Link Genes, Traits in Public View</a>" by Ellen Nakashima, Washington Post, October 18, 2008.
    </p>

    <p>
      <a href="http://www.wired.com/medtech/stemcells/magazine/16-08/ff_church" title="http://www.wired.com/medtech/stemcells/magazine/16-08/ff_church">How the Personal Genome Project Could Unlock the Mysteries of Life</a> (Wired Magazine, Aug 2008, Thomas Goetz)
    </p>

    <p>
      <a href="http://www.popularmechanics.com/science/health_medicine/4260863.html" title="http://www.popularmechanics.com/science/health_medicine/4260863.html">Inside the Forgotten X Prize-the One That Can Save Your Life</a> (Popular Mechanics, Apr 2008, Erik Sofge)
    </p>

    <p>
      <a href="http://origin.www.nature.com/nrg/journal/vaop/ncurrent/abs/nrg2360.html" title="http://origin.www.nature.com/nrg/journal/vaop/ncurrent/abs/nrg2360.html">From genetic privacy to open consent</a> (Nature Reviews Genetics, Apr 2008, Jeantine E. Lunshof, Ruth Chadwick, Daniel B. Vorhaus & George M. Church)
    </p>

    <p>
      <a href="http://www.thecrimson.com/article.aspx?ref=522348" title="http://www.thecrimson.com/article.aspx?ref=522348">HMS Prof To Expand Genome Database</a> (Harvard Crimson, Mar 2008, June Q. Wu)
    </p>

    <p>
      <a href="http://www.technologyreview.com/Biotech/19824/page1/" title="http://www.technologyreview.com/Biotech/19824/page1/">Your Personal Genome</a> (Technology Review, Dec 2007, Emily Singer)
    </p>

    <p>
      <a href="http://www.thecrimson.com/article.aspx?ref=521177" title="http://www.thecrimson.com/article.aspx?ref=521177">New Tech. Makes Sequencing Easy</a> (Harvard Crimson, Dec 2007, Maeve T. Wang)
    </p>

    <p>
      <a href="http://www.xconomy.com/2007/12/04/group-led-by-harvards-george-church-will-bid-for-genomics-x-prize/" title="http://www.xconomy.com/2007/12/04/group-led-by-harvards-george-church-will-bid-for-genomics-x-prize/">Group Led by Harvard's George Church Will Bid for Genomics X Prize</a> (Xconomy, Dec 2007, Rebecca Zacks)
    </p>

    <p>
      <a href="http://www.nature.com/nature/journal/v449/n7162/full/449627b.html" title="http://www.nature.com/nature/journal/v449/n7162/full/449627b.html">Genomics: Being Well Informed</a> (Nature, Oct 2007, George Church)
    </p>

    <p>
      <a href="http://www.nctimes.com/articles/2007/10/11/news/top_stories/1_02_5210_10_07.txt" title="http://www.nctimes.com/articles/2007/10/11/news/top_stories/1_02_5210_10_07.txt">Researcher says personal genetic testing nearly viable</a> (North County Times, Oct 2007, Bradley J. Fikes)
    </p>

    <p>
      <a href="http://www.sueddeutsche.de/gesundheit/artikel/361/130136/" title="http://www.sueddeutsche.de/gesundheit/artikel/361/130136/">Das offentliche Genom</a> (Suddeutsche Zeitung, Aug 2007, Julia Karow) (<a href="http://translate.google.com/translate?hl=en&amp;sl=de&amp;u=http://www.sueddeutsche.de/gesundheit/artikel/361/130136/&amp;sa=X&amp;oi=translate&amp;resnum=1&amp;ct=result&amp;prev=/search%3Fq%3DProzent%2Bdes%2BGenoms,%2Bso%2BChurch%26hl%3Den%26client%3Dfirefox-a%26rls%3Dorg.mozilla:en-US:official%26hs%3Dyd3" title="http://translate.google.com/translate?hl=en&amp;sl=de&amp;u=http://www.sueddeutsche.de/gesundheit/artikel/361/130136/&amp;sa=X&amp;oi=translate&amp;resnum=1&amp;ct=result&amp;prev=/search?q=Prozent+des+Genoms,+so+Church&amp;hl=en&amp;client=firefox-a&amp;rls=org.mozilla:en-US:official&amp;hs=yd3">'translation'</a>)
    </p>

    <p>
      <a href="http://online.wsj.com/article/SB118532736853177075.html?mod=opinion&amp;ojcontent=otep" title="http://online.wsj.com/article/SB118532736853177075.html?mod=opinion&amp;ojcontent=otep">Full Disclosure</a> (Wall St. Journal, July 2007, Esther Dyson)
    </p>

    <p>
      <a href="http://www.xconomy.com/2007/07/20/learning-from-esther-dysons-genome/" title="http://www.xconomy.com/2007/07/20/learning-from-esther-dysons-genome/">Learning from Esther Dyson's Genome</a> (Xconomy, July 2007, Erika Jonietz)
    </p>

    <p>
      <a href="http://www.thecrimson.com/article.aspx?ref=514050" title="http://www.thecrimson.com/article.aspx?ref=514050">Church Hopes to Make DNA Decoding Accessible</a> (Crimson, Aug 2006, Katherine Gray) <a href="http://arep.med.harvard.edu/gmc/news_comments.html" title="http://arep.med.harvard.edu/gmc/news_comments.html">Comments</a>
    </p>

    <p>
      <a href="http://www.technologyreview.com/BioTech/wtr_16169,259,p1.html" title="http://www.technologyreview.com/BioTech/wtr_16169,259,p1.html" class="style_1">The Personal Genome Project</a><span class="style_1"> (Technology Review, Jan 2006, Emily Singer)
    </p>

    <p>
      <a href="http://www.bbbiotech.at/index.php/bbbiotech_de/en/portfolio/industry_news/in_a_few" title="http://www.bbbiotech.at/index.php/bbbiotech_de/en/portfolio/industry_news/in_a_few">In a few years, knowing your own personal genome may improve your health</a> (Knight Ridder, Jan 2006, Robert Boyd)
    </p>

    <p>
      <a href="http://arep.med.harvard.edu/pdf/Church05s.pdf" title="http://arep.med.harvard.edu/pdf/Church05s.pdf" class="style_1">Genomes for All</a><span class="style_1"> (George Church, Jan 2006, Scientific American)
    </p>

    <p>
      <a href="http://www.nature.com/msb/journal/v1/n1/full/msb4100040.html" title="http://www.nature.com/msb/journal/v1/n1/full/msb4100040.html">The Personal Genome Project</a> (Molecular Systems Biology, Dec 2005, George Church)
    </p>

    <p>
      <a href="http://www.genomeweb.com/issues/news/125128-1.html" title="http://www.genomeweb.com/issues/news/125128-1.html">Harvard's Church Calls for 'Open Source', Non-Anonymous Personal Genome Project</a> (GenomeWeb, Nov 2005, Bernadette Toner)
    </p>

  </div>
</div>

<hr>
<h3>Press Contact</h3>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10"><a href="mailto:press@personalgenomes.org">press@personalgenomes.org</a></div>
</div>

{% endblock main %}
