{% extends "www_personalgenomes_org/people.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: UK" icon="/static/img/uk/uk-flag.jpg" active="People" login_url="https://my.personalgenomes.org.uk" %}
{% endblock navbar %}

{% block main %}

{% include "uk/donate.html" %}

<h2 style="margin-top:34px;">People</h2>

<ul class="thumbnails">

  <li class="span4 bio">
    <img src="/static/img/uk/StephanBeck.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Stephan Beck</h4>
    <h5>PGP-UK Director</h5>
    <h5>Medical Genomics Group, UCL</h5>
    <p>Stephan Beck is Professor of Medical Genomics at the UCL Cancer Institute where he studies the genomics and epigenomics of phenotypic plasticity to advance translational, regenerative and personalised medicine.</p>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=BECKX39">See profile</a></p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/RifatHamoudi.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Rifat Hamoudi</h4>
    <h5>Computational Analysis and Software Development Leader</h5>
    <h5>Computational & Molecular Pathology, UCL</h5>
    <p>Rifat Hamoudi, PhD is a Senior Lecturer in Computational and Molecular Pathology within the Division of Surgery at UCL, where he is using transcriptomics and epigenetics to study the molecular mechanism of disease.</p>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=RHAMO43">See profile</a></p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/uk/Jane-PGP.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Jane Kaye</h4>
    <h5>Ethics and Social Implications Leader</h5>
    <h5>Centre for Health, Law and Emerging Technologies (HeLEX)</h5>
    <p>Professor Jane Kaye is the lead in ethics, legal and social issues (ELSI). Jane is also Director of the Centre for Law, Health and Emerging Technologies at Oxford (HeLEX) based in the Nuffield Department of Population Health at the University of Oxford.</p>
    <p><a href="http://www.ndph.ox.ac.uk/team/copy_of_jane-kaye">See profile</a></p>
  </li>

</ul>

<ul class="thumbnails">

<li class="span4 bio">
    <img src="/static/img/uk/javier-herrero.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Javier Herrero</h4>
    <h5>Computational Analysis and Data Integration Leader</h5>
    <h5>Bill Lyons Informatics Centre, UCL</h5>
    <p>Javier Herrero is the Head of the Bill Lyons Informatics Centre at the UCL Cancer Institute where he works on functional genomics, cancer evolution and understanding genomic variation.</p>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=JHERR07">See profile</a></p>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Paul_Harrison.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Paul Harrison</h4><h5>Arts & Public Engagement Projects Leader</h5>
    <h5>Visual Research Centre (VRC), University of Dundee</h5>
    <p>Paul Liam Harrison, PhD is an artist and researcher whose interests include an ongoing investigation into the relationships between art, science and society - particularly the inter-relations of visual arts and biological sciences.</p>
    <p><a href="http://www.dundee.ac.uk/djcad/staff/paulliamharrison/">See profile</a></p>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Erica_Jones.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Erica Jones</h4><h5>Administration Leader</h5>
    <h5>Personal Genome Project - UK</h5>
    <p>Erica Jones, BSc Hons Biochemistry, MBA has worked with university research consortia in the north west of England as the management lead for multi-disciplinary developments, establishing operational frameworks between academics, practitioners and the general public.</p>
    <p><a href="https://www.linkedin.com/in/erica-jones-2041b1a">See profile</a></p>
  </li>

</ul>
 
<ul class="thumbnails">

<li class="span4 bio">
    <img src="/static/img/uk/EmanueleLibertini.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Emanuele Libertini</h4>
    <h5>Data Analysis</h5>
    <h5>Thomson Reuters</h5>
    <p><a href="https://www.linkedin.com/in/emanuele-libertini-35021639">See profile</a>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Amy_Webster3.png" class="img-rounded" style="max-width:90px" />
    <h4>Amy P. Webster</h4>
    <h5>Data Analysis</h5>
    <h5>Medical Genomics Group, UCL</h5>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=APWEB68">See profile</a>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/Polly-PGP.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Polly Kerr</h4>
    <h5>Communications</h5>
    <h5>Centre for Health, Law and Emerging Technologies (HeLEX)</h5>
    <p><a href="http://www.ndph.ox.ac.uk/team/polly-kerr">See profile</a>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/sevgi.jpg" class="img-rounded" style="max-width:90px" />
    <h4>Sevgi Umur</h4>
    <h5>Testing and Development</h5>
    <h5>Genonymous Sciences</h5>
    <p><a href="https://www.linkedin.com/in/sevgi-umur-79558a53">See profile</a>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/lucia-conde.png" class="img-rounded" style="max-width:90px" />
    <h4>Lucia Conde</h4>
    <h5>Data Analysis</h5>
    <h5>Bill Lyons Informatics Center, UCL</h5>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=LCOND86">See profile</a>
  </li>

<li class="span4 bio">
    <img src="/static/img/uk/afonso-guerra-assuncao.jpg" class="img-rounded" style="max-width:90px" />
    <h4>J. Afonso Guerra-Assun&ccedil;&atilde;o</h4>
    <h5>Data Analysis</h5>
    <h5>Bill Lyons Informatics Center, UCL</h5>
    <p><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=JAGUE49">See profile</a>
  </li>

</ul>

<h2 style="margin-top:34px;">Former members</h2>
<ul class="thumbnails">
<li class="span3 bio"><h4>Sharmini Rajanayagam</h4><h5>Postdoc</h5></li>
<li class="span3 bio"><h4>Louise Storm</h4><h5>Student</h5></li>
<li class="span3 bio"><h4>Jana Hofmann</h4><h5>Student</h5></li>
<li class="span3 bio"><h4>Anna Keane</h4><h5>Student</h5></li>
</ul>

{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
