{% extends "www_personalgenomes_org/sign-up.html" %}

{% block title %}Personal Genome Project: United Kingdom{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="uk" site_longname="Personal Genome Project: UK" icon="/static/img/uk/uk-flag.jpg" active="Sign-up" login_url="https://my.personalgenomes.org.uk" %}
{% endblock navbar %}

{% block main %}

<h2 style="margin-top:34px;">PGP-UK Enrolment Process and Requirements</h2>

<p class="lead">Enrolling in the PGP-UK is an online process. Individuals considering participation should closely review our <a href="#Enroltag">enrolment process</a> study guide and consent forms</a>. To qualify for enrollment, prospective participants must complete an online exam to demonstrate their comprehension of the risks and protocols associated with being a member of the PGP-UK.</p>

<div class="row">
  <div class="span6">
    <div class="heroine-unit">
      <div style="max-width:460px;margin-left:auto;margin-right:auto;">
	<h3>PGP-UK</h3>
	<p style="margin-bottom:6px">Founded in Nov 2013.</p>
	<p style="">Stephan Beck Lab at UCL Cancer Institute<br/>
	  University College London<br/>
	  London, United Kingdom</p>

	<p style="margin-bottom:0px"><strong>Requirements:</strong></p>
	<ul>
	  <li>United Kingdom citizen or permanent resident</li>
	  <li>At least 21 years of age</li>
	  <li>Capable of giving consent.  <BR> We do not permit enrollment through legal guardianship.</BR> </li>
	  <li>Identical (monozygotic) twins are welcome, but both twins must complete the enrollment process to be eligible.</li>
	</ul>
	<a class="btn btn-primary btn-large" href="https://my.personalgenomes.org.uk/signup"><i class="icon-external-link">   </i>Enrol in PGP-UK</a>
      </div>
    </div>
  </div>
</div>


<hr>

<a name = "Enroltag"></a>

<h2 class="top-heading">PGP-UK Participation Documents</h2>

<p class="lead">As part of our mission to promote the creation of new Personal Genome Project groups, and to help potential participants understand the risks and protocols of participation, we publicly share documents associated with the Harvard PGP group.</p>

<div class="alert">
  <p><strong>Please Note:</strong> The consent forms below are for review purposes only, the signature boxes are not functional in the pdf. Once participants begin the online eligibility screening and enrollment process, they are provided with instructions for electronically signing the consent forms.</p>
</div>

<table class="table">
  <tr>
    <td>
      <h4>PGP-UK Enrolment Process</h4>
      <p>The enrolment for PGP-UK takes around 1 hour and the steps involved are as follows:</p>
<PRE>
1) Consent for Eligibility Screening	&nbsp;&nbsp;&nbsp;&nbsp; (5 minutes)<BR>
2) Eligibility Questionnaire		&nbsp;&nbsp;&nbsp;&nbsp; (10 minutes)<BR>
3) Entrance Exam			&nbsp;&nbsp;&nbsp;&nbsp; (30-90 minutes)<BR>
4) Review of PGP Consent Form		&nbsp;&nbsp;&nbsp;&nbsp; (30 minutes)<BR>
5) Consent to Participate		&nbsp;&nbsp;&nbsp;&nbsp; (30-60 minutes)<BR>
6) Name Designated Proxies		&nbsp;&nbsp;&nbsp;&nbsp; (5 minutes)<BR>
7) Trait Data				&nbsp;&nbsp;&nbsp;&nbsp; (1 minute)<BR>
8) Identity Verification		&nbsp;&nbsp;&nbsp;&nbsp; (1 minute)<BR>
9) Submit Enrolment Application		&nbsp;&nbsp;&nbsp;&nbsp; (1 minute)<BR>
10) Submit Application Results		&nbsp;&nbsp;&nbsp;&nbsp; (3-4 days)
</PRE>
    </td>
  </tr>
  <tr>
  <tr>
    <td>
      <h4>PGP-UK Study guide</h4>
      <p>Our study guide explains many of the key protocols, as well as risks potential participants when receiving and publishing whole genome data through our project.<BR>
Please also check the information on PGP Harvard site at : <a href="http://www.pgpstudy.org/">http://www.pgpstudy.org</a><BR>
Individuals must pass this exam testing understanding of this material before they can apply to enroll in the PGP-UK study. 


    </td>
    <td>
      <a class="btn" href="/static/docs/uk/v20120430-study-guide.pdf" style="margin-top:10px"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>PGP-UK Consent for participation</h4>
      <p>The consent for participation, or the "full-consent". This is the main consent document participants are expected to understand and agree to when enrolling. Approval renewed 06/06/2013 and amended 20/01/2014.</p>
    </td>
    <td style="width:15%;min-width:110px">
      <a class="btn" href="/static/docs/uk/PGP-UK_FullConsent_06Jun13_with_amend.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>PGP-UK Consent for Eligibility Screening</h4>
      <p>Consent for Eligibility Screening, or the "mini-consent". Participants must agree to this before beginning the enrollment process. Approval renewed 06/06/2013.</p>
    </td>
    <td>
      <a class="btn" href="/static/docs/uk/PGP-UK_MiniConsent_06Jun13.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
</table>

{% endblock main %}

{% block footer %}
{% include "uk/footer.html" %}
{% endblock footer %}
