{% extends "www_personalgenomes_org/index.html" %}

{% block main %}
<div style="height:34px;width:1px;"></div>
{% block contact_local %}
<h2>Contact this PGP site</h2>
<p class="lead">Our team hasn't set up our communications yet, we'll get back to you soon with contact information!<p>
{% endblock contact_local %}
<hr />
<h3>Website and more general questions</h3>

<p>This website is managed by <a href="{% url 'organization:index' %}">PersonalGenomes.org</a>, a United States 501(c)(3) nonprofit organization that organizes the <a href="{% url 'organization:pgp' %}">Personal Genome Project</a>. If you would like to learn more about PersonalGenomes.org, please <a href="{% url 'organization:index' %}">visit the organization site</a>.</p>
<table class="table table-hover table-condensed">
  <tr>
    <td style="width:40%;">
      <h5>Postal Address:</h5>
    </td>
    <td>
      PersonalGenomes.org<br />
      423 Brookline Avenue, #323<br />
      Boston MA 02215-5410
    </td>
  </tr>
  <tr>
    <td>
      <h5>Website inquiries:</h5>
    </td>
    <td>
      <a href="mailto:website@personalgenomes.org">website@personalgenomes.org</a>
    </td>
  </tr>
</table>

{% endblock main %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
