{% extends "www_personalgenomes_org/contact-us.html" %}

{% load i18n %}
{# Another version of this page exists that uses i18n because it contains #}
{# content that should be seen in all subsites. #}

{% block main %}
<div style="height:34px;width:1px;"></div>

{% block contact_local %}
<h2>Contact this PGP site</h2>
<p class="lead">
    Our team hasn't set up our communications yet, we'll get back to you soon
    with contact information!
<p>
{% endblock contact_local %}

<hr />

<h3>{% trans "Website and more general questions" %}</h3>
<p>
    {% blocktrans %}
    This website is managed by <a href="/organization">PersonalGenomes.org</a>,
    a United States 501(c)(3) nonprofit organization that organizes the
    <a href="/organization/pgp">Personal Genome Project</a>. If you would like
    to learn more about PersonalGenomes.org, please
    <a href="/organization">visit the organization site</a>.
    {% endblocktrans %}
</p>

<table class="table table-hover table-condensed">
  <tr>
    <td style="width:40%;">
      <h5>{% trans "Postal Address" %}:</h5>
    </td>
    <td>
        {% blocktrans %}
        PersonalGenomes.org<br />
        423 Brookline Avenue, #323<br />
        Boston MA 02215-5410
        {% endblocktrans %}
    </td>
  </tr>
  <tr>
    <td>
      <h5>{% trans "Website inquiries" %}:</h5>
    </td>
    <td>
      <a href="mailto:website@personalgenomes.org">website@personalgenomes.org</a>
    </td>
  </tr>
</table>

{% endblock main %}
