{% extends "www_personalgenomes_org/index.html" %}

{% block main %}
<div class="lead">
<h2 style="margin-top:34px">Contact Us</h2>

<table class="table table-hover">
  <tr>
    <td style="width:40%;">
      <strong>Postal Address:</strong>
    </td>
    <td>
      PersonalGenomes.org<br />
      423 Brookline Avenue, #323<br />
      Boston MA 02215-5410
    </td>
  </tr>
  <tr>
    <td>
      <strong>Press and media inquiries:</strong>
    </td>
    <td>
      <a href="mailto:press@personalgenomes.org">press@personalgenomes.org</a>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Website and content related inquiries:</strong>
    </td>
    <td>
      <a href="mailto:website@personalgenomes.org">website@personalgenomes.org</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Donation related inquiries:</h4>
    </td>
    <td>
      <a href="mailto:giving@personalgenomes.org">giving@personalgenomes.org</a>
    </td>
  </tr>
</table>
    </div>
  <div class="span1"></div>
</div>

{% endblock main %}
