{% extends "base.html" %}
{% load i18n %}

{% block main %}

<h2 style="margin-top:34px;">{% trans "Our Data" %}</h2>

<p>
{% blocktrans %}
Our site is working hard right now to collect and release public genome and health data. For now, you may want to visit the data shared by the <a href="/harvard">Personal Genome Project at Harvard Medical School</a>.
{% endblocktrans %}
</p>

<p><a href="{% url 'harvard:data' %}" class="btn" style="margin:30px;">{% trans "Get data from the PGP at Harvard Medical School" %} <i> </i><i class="icon-double-angle-right"></i></a></p>

{% endblock main %}

{% block footer %}
{% include "www_personalgenomes_org/footer_2col.html" %}
{% endblock footer %}
