{% extends "base.html" %}

{% block main %}

<h2 style="margin-top:34px;">Our Data</h2>

<p>Our site is working hard right now to collect and release public genome and health data. For now, you may want to visit the data shared by the <a href="{% url 'harvard:index' %}">Personal Genome Project at Harvard Medical School</a>.</p>

<p><a href="{% url 'harvard:data' %}" class="btn" style="margin:30px;">Get data from the PGP at Harvard Medical School <i> </i><i class="icon-double-angle-right"></i></a></p>

{% endblock main %}
