<div class="row-fluid">
  <div class="span4">
    <h5>PGP Global Network</h5>
    <p>
      <a href="{% url 'harvard:index' %}">United States</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'canada:index' %}">Canada</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'uk:index' %}">United Kingdom</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'austria:index' %}">Austria</a>
      <br/>
      <a href="{% block global_network_url %}{% url 'organization:network' %}{% endblock %}">Learn about our network</a>
    </p>
  </div>
  <div class="span4">
    <h5>Website information</h5>
    <p>
      <a href="{% block contact_us_url %}{% url 'contact-us' %}{% endblock contact_us_url %}">Contact Us</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'organization:index' %}"><span class="h5">About PersonalGenomes.org</span></a>
      <br />
      <a href="{% url 'tos' %}">Terms of Service</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'website-privacy-policy' %}">Privacy Policy</a>
    </p>
  </div>
  <div class="span4">
    <h5>{% block col3_title %}Stay connected{% endblock col3_title %}</h5>
    <p>
      {% block col3_contents %}
      <a href="https://twitter.com/pgorg"><i class="icon-twitter"> </i>Twitter</a>
      <i> </i>&bull;<i> </i>
      <a href="http://www.youtube.com/user/PersonalGenomesOrg"><i class="icon-youtube"> </i>Youtube</a>
      <i> </i>&bull;<i> </i>
      <a href="http://blog.personalgenomes.org"><i class="icon-pencil"> </i>Blog</a>
      <br />
      <a href="https://www.facebook.com/PersonalGenomesOrg"><i class="icon-facebook"> </i>Facebook</a>
      <i> </i>&bull;<i> </i>
      <a href="http://www.linkedin.com/company/personalgenomes-org"><i class="icon-linkedin"> </i>LinkedIn</a>
      <i> </i>&bull;<i> </i>
      <a href="http://getconference.com"><i class="icon-group">  </i>GET Conference</a>
      {% endblock col3_contents %}
    </p>
  </div>
</div>
