{# Another version of this page exists that uses i18n because it contains #}
{# content that should be seen in all subsites. #}

<div class="row-fluid">
  <div class="span6">
    <h5>PGP Global Network</h5>
    <p>
      <a href="{% url 'harvard:index' %}">United States</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'canada:index' %}">Canada</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'uk:index' %}">United Kingdom</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'austria:index' %}">Austria</a>
      <br/>
      <a href="{% block global_network_url %}{% url 'organization:network' %}{% endblock %}">Learn about our network</a>
    </p>
  </div>
  <div class="span6">
    <h5>Website information</h5>
    <p>
      <a href="{% block contact_us_url %}{% url 'contact-us' %}{% endblock contact_us_url %}">Contact Us</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'organization:index' %}"><span class="h5">About PersonalGenomes.org</span></a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'tos' %}">Terms of Service</a>
      <i> </i>&bull;<i> </i>
      <a href="{% url 'website-privacy-policy' %}">Privacy Policy</a>
    </p>
  </div>
</div>
