{% extends "www_personalgenomes_org/menu_research.html" %}
{% load i18n %}

{% block main %}
<div class="lead">
<h2 class="top-heading">{% trans "Get Data" %}</h2>

<p class="lead">
  {% url 'harvard:index' as harvard_url %}
  {% blocktrans %}
  Almost all current public data from PGP sites is from the <a href="{{ harvard_url }}">Harvard site</a>. As new sites grow we expect to share more data from around the world.
  {% endblocktrans %}
</p>

<hr />

<h3>{% trans "Harvard PGP Data" %}</h3>
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h2>{% trans "Genome data" %}</h2>
      <p>{% trans "In addition to whole genome sequencing, the Harvard PGP has a variety of donated genetic data (ranging from externally-performed genomes and exomes to direct-to-consumer genotyping)." %}</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/public_genetic_data" style="margin-top:40px;float:right;"><i class="icon-external-link">  </i> {% trans "Harvard PGP Genetic Data" %}</a>
    </div>
  </div>
</div>

<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h2>{% trans "Trait and survey data" %}</h2>
      <p>{% trans "The Harvard PGP data is uniquely valuable because it combines trait and health information with genetic data in a publicly available resource. Our trait surveys query participants regarding 239 self-reported traits." %}</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/google_surveys" style="margin-top:40px;float:right"><i class="icon-external-link">  </i> {% trans "Harvard PGP Trait & Survey Data" %}</a>
    </div>
  </div>
</div>

<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h2>{% trans "Participant profiles" %}</h2>
      <p>{% trans "Participant profiles present all public data associated with a participant, presenting genetic and trait data in the same place. Profiles also include medical data imported from electronic health records and diverse other types of data uploaded by participants." %}</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/users" style="margin-top:40px;float:right"><i class="icon-external-link">  </i> {% trans "Browse Harvard PGP Participant Profiles" %}</a>
    </div>
  </div>
</div>

<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h2>{% trans "Microbiome data" %}</h2>
      <p>){% trans "Microbiome profiles investigate the types of bacteria in and on a participant's body. Understanding the microbiome helps build a more complete of a participant: it is a form of biological profiling that captures personal environment and may be an important aspect in human health." %}</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/public_genetic_data?data_type=Microbiome" style="margin-top:40px;float:right"><i class="icon-external-link">  </i> {% trans "Harvard PGP Microbiome Data" %}</a>
    </div>
  </div>
</div>

{% endblock main %}
