<div class="row-fluid">
  <div class="span9">
    <div class="heroine-unit" style="margin-top:25px">
      <div class="row-fluid">
        <div class="span9">
          <h2>Sharing Personal Genomes</h2>
          <p class="info" style="margin-bottom:10px;line-height:24px;">The Personal Genome Project was founded in 2005 and is dedicated to creating public genome, health, and trait data. Sharing data is critical to scientific progress, but has been hampered by traditional research practices&mdash;our approach is to invite willing participants to publicly share their personal data for the greater good.</p>
          <div class="row-fluid">
            <div class="span8 offset4">
              <p><a href="{% url 'pgp' %}" class="btn btn-primary btn-large">Learn more <i class="icon-angle-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="span3">
          <a href="{% url 'pgp' %}"><img src="/static/img/pgp-logo-only-transp.png"/></a>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    {% if country.country_code == 'US' %}
    <div class="heroine-unit" style="margin-top:25px">
      <h2>PGP Harvard</h2>
      <p style="margin-bottom:18px">The pilot PGP site at Harvard University was founded in 2005 and has over 3,000 participants!</p>
      <p>
        <a href="{% url 'harvard:index' %}" class="btn btn-primary btn-large">Learn about<br/>PGP Harvard</a>
      </p>
    </div>
    {% elif country.country_code == 'CA' %}
    <div class="heroine-unit" style="margin-top:25px">
      <h2>PGP Canada</h2>
      <p style="margin-bottom:18px">Founded in 2012, PGP Canada is located at the McLaughlin Centre at the University of Toronto.</p>
      <p>
        <a href="{% url 'canada:index' %}" class="btn btn-primary btn-large">Learn about<br/>PGP Canada</a>
      </p>
    </div>
    {% else %}
    <p>I don't get it, you're from '{{country.country_code}}'??</p>
    {% endif %}
  </div>
</div>
