{% extends "base.html" %}

{% block title %}
  {% if country_code == 'CA' %}
    Personal Genome Project: Canada
  {% elif country_code == 'GB' %}
    Personal Genome Project: United Kingdom
  {% elif country_code == 'US' %}
    Personal Genome Project: United States
  {% elif country_code == 'AT' %}
    Genom Austria: the Austrian Personal Genome Project
  {% else %}
    Personal Genome Project
  {% endif %}
{% endblock title %}

{% block main %}
<div class="heroine-unit" style="margin-top:25px;">
  <div class="row-fluid">
    <div class="span9">
      <h1>{% block index_mainbox_heading %}
          Sharing Personal Genomes
          {% endblock %}</h1>
      <p class="info">
        {% block index_mainbox_content %}
        The Personal Genome Project was founded in 2005 and is dedicated to
        creating public genome, health, and trait data. Sharing data is critical
        to scientific progress, but has been hampered by traditional research
        practices&mdash;our approach is to invite willing participants to
        publicly share their personal data for the greater good.
        {% endblock index_mainbox_content %}
      </p>
      <p><a href="{% block index_link_about %}
                  {% url 'organization:pgp' %}
                  {% endblock index_link_about %}"
          class="btn btn-primary btn-large">
            Learn more<i>  </i><i class="icon-angle-right"></i>
          </a></p>
    </div>
    <div class="span3">
      <div style="text-align:center;margin-right:auto;margin-left:auto;">
        <img src="/static/img/pgp-logo-only-color-transp.png"
        style="max-width:182px;"/>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="infobox" id="infobox1">
      <h2>Participation</h2>
      <p>Donating your genome and health data to science is a great
          way to enable advances in understanding human genetics, biology, and
          health. We seek volunteers willing to donate diverse personal
          information to become a public resource.</p>
    </div>
    <p><a class="btn"
        href="{% block index_link_sign_up %}
              {% url 'organization:pgp-sign-up' %}
              {% endblock index_link_sign_up %}">
              Learn about participating
              <i> </i><i class="icon-angle-right"></i></a>
    </p>
  </div>
  <div class="span4">
    <div class="infobox" id="infobox2">
      <h2>Open Data</h2>
      <p>Open data is a critical component of the scientific method,
          but genomes are both identifiable and predictive. As a result, many
          studies choose to withhold data from participants and restrict access
          to researchers.  The PGP's public data is a common ground to
          collaborate and improve our understanding of genomes.</p>
    </div>
    <p><a class="btn" style="margin-top:0px;"
        href="{% block index_link_data %}
              {% url 'organization:get-data' %}
              {% endblock index_link_data %}">
        Use PGP data <i> </i><i class="icon-angle-right"></i></a></p>
  </div>
  <div class="span4">
    <div class="infobox" id="infobox3">
      <h2>Global Network</h2>
      <p>
        {% block index_global_network_content %}
          We are a member of the Global Network of Personal Genome
          Projects.  Since the Personal Genome Project was launched at
          Harvard Medical School in 2005, the network has grown to
          include researchers at many leading institutions around the
          globe.
        {% endblock index_global_network_content %}
      </p>
    </div>
    <p><a class="btn"
        href="{% block index_link_global_network %}
              {% url 'organization:network' %}
              {% endblock index_link_global_network %}">
              Meet the Network
              <i> </i><i class="icon-double-angle-right"></i></a></p>
  </div>
</div>
{% endblock main %}

{% block extrajs %}
    <script>
    resize_infobox = function() {
      $("#infobox1").css("height", "auto");
      $("#infobox3").css("height", "auto");
      if ($("#mainpanel1").length > 0) {
        $("#mainpanel1").css("height", "auto");
        $("#mainpanel2").css("height", "auto");
      }
      if ( $( window ).width() >= 768) {
        target_height = $("#infobox2").height();
        $("#infobox1").height(target_height);
        $("#infobox3").height(target_height);
        if ($("#mainpanel1").length > 0) {
          var height1 = $("#mainpanel1").height();
          var height2 = $("#mainpanel2").height();
          if (height1 > height2) {
            $("#mainpanel2").height(height1);
          } else {
            $("#mainpanel1").height(height2);
          }
        }
      }
    }
    $( window ).load(resize_infobox);
    $( window ).resize(resize_infobox);
    </script>
{% endblock extrajs %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
