{% extends "www_personalgenomes_org/menu_globalnetwork.html" %}

{% block main %}
<div class="lead">
  <h2 class="top-heading">What defines a PGP site?</h2>

  <p>Members of the Personal Genome Project (PGP) global network adhere to the following criteria:</p>
  <div class="row-fluid">
    <div class="span6">
      <ul class="li-main">
	<li><strong>(a) Public Data.</strong> Genomic and trait data are made available in a timely manner and in an integrated, publicly-accessible format using a CC0 waiver or equivalent public domain license.</li>
	<li><strong>(b) Non-anonymous.</strong> The risks of participant re-identification are addressed up front, as an integral part of the consent and enrollment process; neither anonymity nor confidentiality of participant identities or their data are promised to research participants.</li>
	<li><strong>(c) Data return.</strong> Research results are shared in a timely and complete fashion (i.e., raw data and not just summary results, where feasible) with participants.</li>
      </ul>
    </div>
    <div class="span6">
      <ul class="li-main">
	<li><strong>(d) Oversight.</strong> The PGP site must at all times maintain current Institutional Review Board (IRB) approval or local equivalent, and will work with PG.org to continue to implement identified best practices for responsible public genomics research.</li>
	<li><strong>(e) Not for profit.</strong> The research project is managed or sponsored by a non-profit organization (or local equivalent). In addition, other than purposes of reasonable cost recovery, neither the PGP Site, Member nor any affiliate thereof or any investigator therein shall sell or license PGP Site participant data or tissues to any third party for financial gain or commercial profit.</li>
      </ul>
    </div>
  </div>

  <p>In order to be recognized as a conforming implementation of the PGP and receive the benefits of being a network member there is a competitive application and annual review process.  For more information about becoming a PGP site, please <a href="mailto:jason@personalgenomes.org">contact us</a>.</p>

</div>
{% endblock main %}
