{% load i18n %}

<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0px;">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{% url site_shortname|add:':index' %}">{% trans site_longname %}</a>
      <div class="nav-collapse collapse">

	<ul class="nav pull-right">

          {% if active == "About-us" %}
          <li class="active"><a href="{% url site_shortname|add:':about-us' %}">{% trans "About us" %}</a></li>
          {% else %}
          <li><a href="{% url site_shortname|add:':about-us' %}">{% trans "About us" %}</a></li>
          {% endif %}

          {% if active == "About-PGP" %}
          <li class="active"><a href="{% url site_shortname|add:':about-pgp' %}">{% trans "About the PGP" %}</a></li>
          {% else %}
          <li><a href="{% url site_shortname|add:':about-pgp' %}">{% trans "About the PGP" %}</a></li>
          {% endif %}

          {% if active == "Sign-up" %}
          <li class="active"><a href="{% url site_shortname|add:':sign-up' %}">{% trans "Sign up" %}</a></li>
          {% else %}
          <li><a href="{% url site_shortname|add:':sign-up' %}">{% trans "Sign up" %}</a></li>
          {% endif %}

          {% if active == "Data" %}
          <li class="active"><a href="{% url site_shortname|add:':data' %}">{% trans "Data" %}</a></li>
          {% else %}
          <li><a href="{% url site_shortname|add:':data' %}">{% trans "Data" %}</a></li>
          {% endif %}

          {% if active == "Papers_and_press" %}
          <li class="active"><a href="{% url site_shortname|add:':news' %}">{% trans "Papers & Press" %}</a></li>
          {% else %}
          <li><a href="{% url site_shortname|add:':news' %}">{% trans "Papers & Press" %}</a></li>
          {% endif %}

          <li class="dropdown">
            {% get_language_info_list for LANGUAGES as languages %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small><i class="icon-caret-down"></i>{% for language in languages %}{% if language.code == LANGUAGE_CODE %} {{ language.name_local }}{% endif %}{% endfor %}</small></a>
            <ul class="dropdown-menu">
              {% for language in languages %}
                {% if language.code == LANGUAGE_CODE %}
                  <li class="active"><a href="#">{{ language.name_local }}</a></li>
                {% else %}
                  <form action="{% url 'set_language' %}" method="post" style="margin:0px;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="{{ language.code }}" />
                    <input class="form-control btn btn-small" type="submit" value="{% blocktrans with lang_name=language.name_local %}Change to {{ lang_name }}{% endblocktrans %}" style="margin:5px;"/>
                  </form>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          {% if login_url %}
          <form class="navbar-form form-inline pull-right">
            <a class="btn btn-small" style="margin-top:8px;margin-left:10px;" href="{{ login_url }}"><i class="icon-external-link"> </i>{% trans "Participant log in" %}</a>
          </form>
          {% endif %}

	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
