{% extends "www_personalgenomes_org/menu_participate.html" %}
{% load i18n %}

{% block main %}

<h2 class="top-heading">{% trans "Why Participate in the PGP?" %}</h2>

<h3>{% trans "Medical Advancement" %}</h3>
<div style="float:right;max-width:40%;margin-left:24px;">
  <img src="/static/img/advocates.jpg" alt="advocates" style="display:block;margin-left:auto;margin-right:auto;">
  <p>
    <small><strong>{% trans "Examples of participant involvement in research" %}</strong> {% trans "(clockwise from top left): Augusto Odone and his son Lorenzo for Adrenoleucodystrophy; Betty Ford for addiction; Douglas Melton and his son for diabetes; Heywood family for ALS; Hugh Rienhoff and his daughter." %}<br/>
      <span class="muted">({% trans "Photo credits: Heywood family photo &copy; Richard Horward; Hugh Rienhoff &copy; Nature Publishing Group)" %}</span></small>
  </p>
</div>
<p>{% trans "Whether one is healthy or dealing with illness, everyone possesses information that may ultimately contribute toward improving the health of others and future generations. The information in our medical records, our DNA, our lifestyles, and our environmental exposures has the potential to provide insights that can change our ability to manage and prevent debilitating diseases." %}</p>
<p>{% trans "Scientific research is an ongoing source of hope for individuals and families affected by illness. The promise of improved diagnoses, therapies, and prevention strategies has motivated many individuals to get more directly involved in the promotion of scientific research on conditions affecting themselves and their loved ones. Disease advocates have made significant contributions to medical advancement and human welfare." %}</p>

<h3>{% trans "Scientific Discovery" %}</h3>
<p>{% trans "The answers to many fundamental questions about basic human biology, our experiences as individuals, and our history as a species will be illuminated by better access to large datasets that contain many human genomes tied to other forms of personal information, such as medical history and physical traits. Thus far, only a handful of individuals in the world have been extensively sequenced and studied. The PGP aims to change this by giving individuals a platform to share their genome, health and trait data." %}</p>

<h3>{% trans "Self-curiosity" %}</h3>
<p>
{% trans 'Like other areas in human history, personal genomics will likely benefit greatly from "early adopters" who are willing and able to endure the difficulties and uncertainties that go along with exploring relatively uncharted territories. Early adopters of genome sequencing might be driven by self-curiosity or the pursuit of personal interests in biology or computing. Professional interests might be another reason for being an early adopter of personal genomics, especially for individuals whose work may be impacted significantly by genomics in the near future, such as certain health care workers, policy-makers, and IT professionals.' %}
</p>

<p><a href="{% url 'non-anonymous' %}" class="btn btn-primary btn-large" style="margin:30px">{% trans "Open consent and non-anonymous participation" %} <i class="icon-angle-right"></i></a></p>

{% endblock main %}
