{% extends "www_personalgenomes_org/about-us.html" %}

{% block title %}Personal Genome Project: Harvard Medical School{% endblock title %}

{% block navbar %}
{% include "harvard/navbar_top.html" with active="About-us" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">PGP Harvard Medical School</h2>
<p>The Harvard Personal Genome Project was initiated by George Church in 2005. As the first site in the global network, it has been devoted to prototyping and evaluating the open consent framework and related research practices. It began with a pilot study of ten fully identified individuals, known as the “PGP-10” and has incrementally scaled-up the cohort to thousands of enrolled volunteers.</p>

<hr />

<h2>People</h2>

<ul class="thumbnails">

  <li class="span4 bio">
    <img src="/static/img/harvard/Madeleine-Ball.jpg" class="img-rounded" />
    <h4>Madeleine Ball</h4><h5>Director of Research</h5>
    <p>Madeleine Ball, PhD is Director of Research for the Harvard PGP. She has been involved in developing the computational and literature review methods used to interpret PGP genomes and is a leading developer of <a href="http://evidence.personalgenomes.org/">GET-Evidence</a>, the PGP's system for genome interpretation. She is also an advocate for using Wikipedia as a knowledge sharing resource. Her contributions include the Genetics page and other core genetics material, as well as helping develop an offline version of Wikipedia now used by hundreds of thousands of children.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/Jason-Bobe.jpg" class="img-rounded" style="max-width:100px" />
    <h4>Jason Bobe</h4><h5>Director of Community</h5>
    <p>Jason Bobe is the founding Executive Director of PersonalGenomes.org and has served as the Director of Community for the Harvard Personal Genome Project since 2007. Jason is also curator and executive producer of the annual Genomes, Environments and Traits Conference (<a href="http://www.getconference.org">www.getconference.org</a>). He was an invited speaker to the Presidential Commission for the Study of Bioethical Issues and is a regular commentator on the importance of citizen science, decentralized access to genomic technologies and DIYbio.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Mike-Chou.jpg" class="img-rounded" />
    <h4>Michael Chou</h4><h5>Director of Human Subjects Research</h5>
    <p>Michael F. Chou, PhD is a Postdoctoral Research Fellow in the Church Lab at Harvard Medical School, and also the Director of Human Subjects Research for the Harvard Personal Genome Project. Dr. Chou's research focus is on the development of genomic sequencing approaches to understand rare neurogenetic diseases. In his present research, he is using next-generation sequencing to identify known and novel genetic causes of Amyotrophic Lateral Sclerosis (commonly known as Lou Gehrig's disease).</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/George-Church.jpg" class="img-rounded" style="max-width:100px" />
    <h4>George Church</h4><h5>Principal Investigator</h5>
    <p>George Church, PhD is the principal investigator, founder and guinea pig #1 of the Personal Genome Project (PGP) research study based at Harvard Medical School. He is also Professor of Genetics, Harvard Medical School, Wyss Institute, Director of the Center for Computational Genetics, and Director of the NIH Center for Excellence in Genomic Science (on human genome engineering). He is a member of the NAS and NAE and Franklin Laureate for Achievement in Science.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Tom-Clegg.jpg" class="img-rounded" />
    <h4>Tom Clegg</h4><h5>Software engineer and developer</h5>
    <p>Tom Clegg is a software engineer and developer, tool builder and optimizer. Since 2006 he has led informatics development for the PGP, solving problems from big data storage to variant interpretation. His background includes theoretical computer science, lab and factory automation, web infrastructure, and teaching.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Pete-Estep.jpg" class="img-rounded" />
    <h4>Pete Estep</h4><h5>Director of Collections & Direct of Gerontology</h5>
    <p>Preston W. (Pete) Estep, PhD is Director of Gerontology and Director of Collections for the Personal Genome Project. Dr. Estep is also Chief Scientific Officer, <a href="http://www.telome.com/">TeloMe, Inc.</a> He has invented a variety of chemical and molecular technologies, including the saliva collection chemistry and kit used in PGP saliva collections. He has founded and is a current or past adviser to many cutting edge biotech companies and non-profit organizations. Originally trained as a neuroscientist before moving to genome science, Dr. Estep's research interests include cognition, aging and senescence, and the science and ethics of human life extension and cognitive enhancement.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Jeantine-Lunshof.jpg" class="img-rounded" />
    <h4>Jeantine Lunshof</h4><h5>Ethics Consultant</h5>
    <p>Jeantine E. Lunshof, PhD is a philosopher and bioethicist, Ethics Consultant to the Personal Genome Project and to the Center for Excellence in Genomic Science - CCV. Together with Dan Vorhaus and George Church she developed in 2006 the model of "open consent" that forms the normative backbone of the PGP. Jeantine recently received a prestigious Marie Curie Fellowship from the European Commission to pursue a research program on systems biology-based concepts of health and disease, and the development of a systems approach for ethics.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Ward-Vandewege.jpg" class="img-rounded" />
    <h4>Ward Vandewege</h4><h5>Systems architect</h5>
    <p>Ward Vandewege, MSc is a systems architect, operations guy and troubleshooter. At the Personal Genomes Project Ward wrote a large part of Tapestry, the software that participants use to interact with the project. At the Church lab Ward is responsible for the installation, configuration and operation of several clusters totalling one hundred physical servers, most of which are virtualized. As CTO at the <a href="http://www.fsf.org/">Free Software Foundation</a>, Ward leads the sysadmin team and is responsible for the technical infrastructure. This includes architecture, deployment and operations for several high-profile online services, and the more than one hundred virtualized servers the Foundation runs.</p>
  </li>

  <li class="span4 bio">
    <img src="/static/img/harvard/Alexander-Zaranek.jpg" class="img-rounded" />
    <h4>Alexander Wait Zaranek</h4><h5>Director of Informatics</h5>
    <p>Alexander (Sasha) Wait Zaranek, PhD is Director of Informatics at the Harvard PGP. Sasha works on open technologies that are part of the revolution that reduced human DNA sequencing costs by a million-fold since the completion of the Human Genome Project. A current research focus is the development of clinical-quality applications for processing massive data sets spanning millions of individuals across collaborating organizations, eventually encompassing exabytes of data. His contributions have led to highly cited publications in Science, Nature, the Lancet and other leading scientific journals. Sasha is also a founder and shareholder of <a href="http://clinicalfuture.com/">Clinical Future</a>, an early stage company focused on the clinical utilization of whole genomes.</p>
  </li>

</ul>

{% endblock main %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
