{% extends "harvard/index.html" %}

{% block main %}

<h2 style="margin-top:34px;">Historical Documents</h2>

<div class="row">
  <div class="span6">
    <h5>Consent for participation, or the "full-consent"</h5>
    <table class="table">
      <tr>
	<td>
	  Approved 02/21/2013
	</td>
	<td style="width:30%; min-width:110px">
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved_02212013.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 02/21/2012
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved_02212012.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 12/15/2011
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved_12152011.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 02/22/2011
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved_02222011.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 03/31/2010
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved03312010.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 03/24/2009
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_Consent_Approved03242009.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h5>Consent for Eligibility Screening, or "mini-consent"</h5>
    <table class="table">
      <tr>
	<td>
	  Approved 02/21/2013
	</td>
	<td style="width:30%; min-width:110px">
	  <a class="btn" href="/static/docs/harvard/PGP_MiniConsent_Approved_02212013.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 02/21/2012
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_MiniConsent_Approved_02212012.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 02/22/2011
	</td>
	<td>
	  <p><a class="btn" href="/static/docs/harvard/PGP_MiniConsent_Approved_02222011.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a></p>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 03/31/2010
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_MiniConsent_Approved03312010.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
      <tr>
	<td>
	  Approved 03/24/2009
	</td>
	<td>
	  <a class="btn" href="/static/docs/harvard/PGP_MiniConsent_Approved03242009.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
	</td>
      </tr>
    </table>
  </div>
</div> <!-- /row -->

<h4>Consent Form Comparison</h4>
<p>A comparison document shows the changes between 2 versions of the PGP full consent form and allows an individual to easily review how the most recent PGP full consent differs from the previous version.</p>

<table class="table">
  <tr>
    <td>
      Comparison of the 2011 full consent form with the 2010 full consent form.
    </td>
    <td style="width:15%;min-width:110px">
      <a class="btn" href="/static/docs/harvard/PGP_Consent_2011vs2010.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
</table>

<h4>Open consent white paper</h4>
<table class="table">
  <tr>
    <td>April 30, 2007: White paper on informed consent protocols published by George Church, Jeantine Lunshof, and Daniel Vorhaus.
    </td>
    <td style="width:15%;min-width:110px">
      <a class="btn" href="/static/docs/harvard/whitepaper_consent_04302007.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
</table>

{% endblock main %}

{% block footer %}
{% include "harvard/footer.html" %}
{% endblock footer %}
