{% extends "harvard/index.html" %}

{% block main %}

<h2 style="margin-top:34px;">How it Works</h2>
 
<p>A brief outline of study procedures are provided below.  Please refer to the <a href="http://www.personalgenomes.org/consent/">consent forms</a> for additional details and background information.</p>

<h3>I. Eligibility Screening</h3>


<div style="padding-left: 20px;">
	<p><strong>(1) Consent for eligibility screening:</strong> You will be asked to read, review, and electronically sign the <a href="http://www.personalgenomes.org/consent/">'mini-consent'</a> document and create an online account.<p/>
	
	<p><strong>(2) Eligibility questionnaire:</strong> Short questionnaires will collect information about your age, citizenship, and preferences related to the publication of your personal data.</p>
	
	<p><strong>(3) Entrance exam:</strong> An online exam will assess your comprehension of concepts relevant to providing informed consent to participate in the PGP.  This exam will include concepts such as potential risks of participating, project protocols, and basic genetics.</p>
	
	<p><strong>(4) Review of PGP consent form:</strong> You will be asked to carefully read and review the full consent form.</p>
	
	<p><strong>(5) Complete and submit eligibility screening:</strong> You will be given the opportunity to submit your eligibility screening results or delete your account.  You will be notified whether you are invited to continue the enrollment process, waitlisted, or rejected.</p>	
</div>


<h3>II. Pre-Enrollment</h3>
<div style="padding-left: 20px;">
	<p><strong>(1) Consent to participate:</strong> You will be asked to read, review, and electronically sign the <a href="http://www.personalgenomes.org/consent/">full consent</a>.</p>

	<p><strong>(2) Naming your proxy:</strong> You will be asked to name two people (next of kin or other trusted individual) to be your proxy only for purposes of this study.  In the event that you should die or become mentally incapacitated during the course of your participation in the PGP, your Designated Proxy will have the authority to help us manage your data and tissues.  You are strongly encouraged to discuss your wishes with your family and your Designated Proxy as part of your enrollment in the PGP. </p>
	
	<p><strong>(3) Identity verification:</strong> You may be asked to provide your mailing address and/or to respond to additional identity verification procedures, such as a short online questionnaire about your identity based on information available in public data records.</p>

	<p><strong>(4) Application for enrollment:</strong> You will be given an opportunity to submit your application for enrollment.  You will be notified that you are either selected to continue, waitlisted, or rejected.</p>
	
</div>


<h3> III. Ongoing Participation following Enrollment</h3>
<p>The PGP is an prospective study that will collect information from enrolled participants for an indefinite period, although participants can leave the study at any time.</p>

<div style="padding-left: 20px;">
	<p><strong>(1) Collection and publication of trait data:</strong>  Once you are enrolled in the PGP, you will be given the opportunity to collect and publish your trait data to the PGP's public website and database. Trait data will be collected via online questionnaires, a personal health record (PHR), and other platforms.  Information gathered includes allergies, immunizations, personal medical history, medications, physical traits and measurements, diet, ethnicity/ancestry, lifestyle, environmental exposures and other traits.  Participants may receive invitations to voluntarily submit additional trait data as the study progresses.</p>

	<p><strong>(2) Specimen collection:</strong> Tissue samples and other specimens submitted to the PGP will be used by the PGP for a range of research purposes, such as (i) the study of biological characteristics, including DNA, RNA (gene expression), physical traits, biochemical traits, and the presence and characteristics of micro-organisms and viruses in the specimen; (ii) creation of cell lines, which are cells with the ability to divide for indefinite periods and to give rise to specialized cells; and (iii) transformation into somatic cell-derived stem cells (i.e., induced pluripotent stem cells or iPS cells). Any specimens you provide may be analyzed or otherwise incorporated into the study. The results may be made publicly available by the PGP via the public website and database and associated with your previously published data.  Participants may receive invitations to voluntarily submit additional specimens as the study progresses.<p>

<div style="padding-left: 40px;">	
	<p>(a) Self-administered specimen collection. You may be sent materials pertaining to at-home specimen collection. These may include a saliva collection kit, a hair collection kit, skin swabs and/or other specimen collection kits that you may self-administer as directed by the PGP. The PGP will provide specimen collection materials, including instructions and mailing packages.</p>
	
	<p>(b) Specimen collection by a trained professional. The PGP may offer you the ability to have a trained professional come to your home or other convenient location for specimen collection or you may be asked to visit a designated medical center or other specimen collection site. These samples will likely be collected through either (i) a blood draw and/or (ii) a skin biopsy procedure.  The PGP will provide you with additional information about any such specimen collection opportunity.</p>
</div>

	<p><strong>(3) Specimen analysis:</strong> The specimens collected will be prepared for biological analyses, such as DNA sequencing, gene expression, and the identification of bacteria and viruses in the specimen sample.  We want you to understand that it may take a considerable amount of time before we are able to perform biological analysis on your specimens.  For example, our ability to sequence your genome will depend on our success in securing funding and affordable sequencing services for the study.  These are all things we are actively working toward, but it is difficult to predict how long it will take and there are no guarantees that we will be able to provide biological analyses, including DNA sequencing, for every individual who enrolls in the study.</p>

	<p><strong>(4) Return and publication of specimen analysis:</strong> Once the PGP has completed the analysis of your specimen(s), the PGP will make the data available to you.  One month after you are notified of your specimen analysis data, or at your option immediately, these will be made available on the PGP's public website and database, and these data will be associated with your trait data along with any other data supplied by you or the PGP. </p>

	<p><strong>(5) Reports interpreting genetic, environmental and/or trait data:</strong> As part of our ongoing efforts at improving our understanding of how genomes combine with personal history, environmental factors and other biological features to produce traits, the PGP will publicly publish reports that attempt to interpret genetic, environmental and trait data.  In preparing these reports, the PGP may review your DNA sequence data in combination with the trait data and other information that you have submitted to the PGP and in light of other publicly available data.</p>

	<p><strong>(6) Establishment, distribution and analysis of cell lines:</strong> Tissue samples submitted to the PGP will be used for a range of research purposes, including (i) creation of cell lines; (ii) transformation into somatic cell-derived stem cells (i.e., induced pluripotent stem cells or iPS cells, which are cells with the ability to divide for indefinite periods and to give rise to specialized cells); and (iii) the study of biological characteristics, including DNA, RNA (gene expression), physical traits, and the presence and characteristics of micro-organisms and viruses in the specimens.</p>

	<p><strong>(7) Safety monitoring: </strong> The PGP has a Data Safety Monitoring Board (DSMB) that monitors the impacts of the PGP on enrolled participants.  Every three months, participants are required to respond to an email from the DSMB that asks whether any adverse events have occured as a result of participation in this research study.</p>
	
</div>

{% endblock main %}

{% block footer %}
{% include "harvard/footer.html" %}
{% endblock footer %}
