{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: Harvard Medical School{% endblock title %}

{% block navbar %}
{% include "harvard/navbar_top.html" %}
{% endblock navbar %}

{# Uncomment and use this block to customize front page text. #}
{# {% block index_mainbox_content %} #}
{# {% endblock index_mainbox_content %} #}

{% block index_link_about_pgp %}{% url 'harvard:about-pgp' %}{% endblock index_link_about_pgp %}

{% block index_link_sign_up %}{% url 'harvard:sign-up' %}{% endblock index_link_sign_up %}

{% block index_link_data %}{% url 'harvard:data' %}{% endblock index_link_data %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
