{% extends "base.html" %}

{% block title %}Personal Genome Project: Harvard{% endblock title %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/harvard"><i class="icon-double-angle-right">   </i>Harvard</a>{% endblock brand %}

{% block navbar_contents %}
<li><a href="{% url 'harvard:people' %}">People</a></li>
<li><a href="{% url 'harvard:documents' %}">Documents</a></li>
<li><a href="{% url 'harvard:protocols' %}">Enrollment</a></li>
<li><a href="{% url 'harvard:data' %}" style="margin-right:20px">Data</a></li>
<form class="navbar-form form-inline pull-right">
  <a class="btn btn-small btn-primary" href="{% url 'organization:network' %}">Other PGP sites</a>
  <a class="btn btn-small" style="margin-top:8px;" href="http://my.personalgenomes.org"><i class="icon-external-link"> </i>Participant log in</a>
</form>
{% endblock navbar_contents %}

{% block main %}
<div class="hero-unit" style="margin-top:25px;">
  <div class="row-fluid">
    <div class="span9">
      <h1>PGP Harvard</h1>
      <p>The Harvard Personal Genome Project was initiated by George Church in 2005. As the first site in the global network, it has been devoted to prototyping and evaluating the open consent framework and related research practices. It began with a pilot study of ten fully identified individuals, known as the “PGP-10” and has incrementally scaled-up the cohort to thousands of enrolled volunteers.</p>
      <a class="btn btn-primary btn-large" href="{% url 'harvard:protocols' %}">Read about enrollment</a>
    </div>
    <div class="span3">
      <img style="max-width:200px;float:right" src="/static/img/harvard/NRB_Ave_Louis_Pasteur.jpg"/>
    </div>
  </div>
</div>
{% endblock main %}
