{% extends "harvard/index.html" %}

{% block main %}

<h2 style="margin-top:34px;">Enrollment Process and Requirements</h2>

<p class="lead">Enrolling in the Harvard PGP is an online process. Individuals considering participation should closely review our <a href="{% url 'harvard:documents' %}">study guide and consent forms</a>. To qualify for enrollment, prospective participants must complete an online exam to demonstrate their comprehension of the risks and protocols associated with being a member of the Harvard PGP.</p>

<p><strong>Requirements:</strong></p>
<ul>
  <li>Willing to share genetic, health and trait data in a public and non-anonymous manner.</li>
  <li>United States citizen or permanent resident.</li>
  <li>At least 21 years of age.</li>
  <li>Capable of giving autonomous consent.  We do not permit enrollment through legal guardianship, for example.</li>
  <li>Current employees and students of the principal investigator (George Church) are not eligible.</li>
  <li>Identical (monozygotic) twins are welcome, but both twins must complete the enrollment process to be eligible.</li>
</ul>

<p><a href="{% url 'harvard:howitworks' %}">Click here</a> to read about the enrollment and study procedure in more detail.</p>

<a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/signup" style="margin-top:15px;"><i class="icon-external-link">   </i>Begin Harvard PGP enrollment process</a>

<!--

<hr />

A link to <a href="{% url 'harvard:collection-centers' %}">collection centers</a>, along with other protocols for participants once they've enrolled, should be added here.

-->

{% endblock main %}

