{% extends "www_personalgenomes_org/sign-up.html" %}

{% block title %}Personal Genome Project: Harvard Medical School{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="harvard" site_longname="Personal Genome Project: Harvard" login_url="https://my.pgp-hms.org" active="Sign-up" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">Sign up for the PGP</h2>

<p class="lead">Enrolling in the Harvard PGP is an online process. Individuals considering participation should closely review our study guide and consent forms. To qualify for enrollment, prospective participants must complete an online exam to demonstrate their comprehension of the risks and protocols associated with being a member of the Harvard PGP.</p>

<p class="lead">Have questions not answered here?
  <a href="https://github.com/PGPHarvard/FAQ/wiki/FAQ">Look at our "FAQ"</a>
  for answers to various common questions.
</p>

<p><strong>Requirements:</strong></p>
<ul>
  <li>Willing to share genetic, health and trait data in a public and non-anonymous manner.</li>
  <li>United States citizen or permanent resident.</li>
  <li>At least 18 years of age.</li>
  <li>Capable of giving autonomous consent.  We do not permit enrollment through legal guardianship, for example.</li>
  <li>Current employees and students of the principal investigator (George Church) are not eligible.</li>
  <li>Identical (monozygotic) twins are welcome, but both twins must complete the enrollment process to be eligible.</li>
</ul>

<p><a href="{% url 'harvard:howitworks' %}">Click here</a> to read about the enrollment and study procedure in more detail.</p>

<a class="btn btn-primary btn-large" href="https://my.pgp-hms.org/signup" style="margin-top:15px;"><i class="icon-external-link">   </i>Begin Harvard PGP enrollment process</a>

<hr />

<span class="anchor-tag" id="documents"></span>
<h2>Participation Documents</h2>

<p>As part of our mission to promote the creation of new Personal Genome Project groups, and to help potential participants understand the risks and protocols of participation, we publicly share documents associated with the pilot Harvard PGP group.</p>

<div class="alert">
  <p><strong>Please Note:</strong> The consent forms below are for review purposes only, the signature boxes are not functional in the pdf. Once participants begin the online eligibility screening and enrollment process, they are provided with instructions for electronically signing the consent forms.</p>
</div>

<table class="table">
  <tr>
    <td>
      <h4>Consent for participation</h4>
      <p>The consent for participation, or the "full-consent". This is the main consent document participants are expected to understand and agree to when enrolling. Approval renewed 02/18/2014.</p>
    </td>
    <td style="width:15%;min-width:110px">
      <a class="btn" href="https://my.pgp-hms.org/static/PGP_Consent_2015-05-05_online_stamped.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Study guide</h4>
      <p>Our study guide explains many of the key protocols, as well as risks potential participants when receiving and publishing whole genome data through our project. Individuals must pass this exam testing understanding of this material before they can apply to enroll in the Harvard PGP study. The study guide is shared under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> license.</p>
    </td>
    <td>
      <a class="btn" href="https://my.pgp-hms.org/static/v20120430-study-guide.pdf" style="margin-top:10px"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Consent for Eligibility Screening</h4>
      <p>Consent for Eligibility Screening, or the "mini-consent". Participants must agree to this before beginning the enrollment process. Approval renewed 02/18/2014.</p>
    </td>
    <td>
      <a class="btn" href="https://my.pgp-hms.org/static/PGP_Mini_Consent-2014-02-18.pdf"><i class="icon-file-text-alt">   </i>Get PDF</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Material Transfer Agreement (MTA)</h4>
      <p>Our <a href="http://mta.sciencecommons.org/agreements/sc-ou/2.0/legalcode">Material Transfer Agreement</a>, or "MTA", which governs the exchange or use of materials such as tissue samples, DNA, and/or cell lines.  Also see, supplemental addendum [<a href="/static/docs/harvard/Supplemental_Addendum_VRO2pt0.pdf">PDF</a>].</p>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><p><a href="https://my.pgp-hms.org/static/">Click here</a> to see previous versions of our consent documents.</p></td>
    <td></td>
  </tr>
</table>

<hr>

<h3>Feedback</h3>
 <p>
   If you have feedback about ways to improve the consent forms, we'd like
   to hear it! You can email PGP Harvard staff using the "Contact Us"
   button from your account on the PGP Harvard site at
   <a href="https://my.pgp-hms.org">my.pgp-hms.org</a>.
  </p>
<div style="height:40px;width:1px;"></div>

{% endblock main %}

{% block footer %}
{% include "harvard/footer.html" %}
{% endblock footer %}
