{% extends "base.html" %}

{% block title %}Personal Genome Project: Canada{% endblock title %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/canada"><i class="icon-double-angle-right">   </i>Canada</a>{% endblock brand %}

{% block navbar_contents %}
<li><a href="{% url 'canada:index' %}">PGP Canada</a></li>
<li><a href="{% url 'canada:project' %}">Project Overview</a></li>
<li><a href="{% url 'canada:consent' %}">Consent Form</a></li>
<li><a href="{% url 'canada:contact' %}">Contact</a></li>
<form class="navbar-form form-inline pull-right">
  <a class="btn btn-small btn-primary" href="{% url 'organization:network' %}">Other PGP sites</a>
</form>
{% endblock navbar_contents %}

{% block main %}
<div class="hero-unit" style="margin-top:25px;">
  <div class="row-fluid">
    <div class="span8">
      <h1>PGP Canada</h1>
      <h3>Volunteers from the public working together with researchers to advance personal genomics.</h3>
    </div>
    <div class="span4">
      <img src="/static/img/canada/pgp_canada_logo.png"/>
    </div>
  </div>
  <div class="row-fluid">
    <p>We believe individuals from the general public have a vital role to play in making personal genomes useful. We are recruiting volunteers who are willing to share their genome sequence and many types of personal information with the research community and the general public, so that together we will be better able to advance our understanding of genetic and environmental contributions to human health and disease.</p>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <a class="btn btn-primary" href="{% url 'canada:project' %}">Project Overview</a>
    </div>
    <div class="span3">
      <a class="btn btn-primary" href="{% url 'canada:consent' %}">Consent Form</a>
    </div>
    <div class="span3">
      <a class="btn btn-primary" href="{% url 'canada:contact' %}">Contact Us</a>
    </div>
    <div class="span3">
      <a class="btn btn-primary" href="http://www.personalgenomes.ca/"><i class="icon-external-link">   </i>Visit our external site!</a>
    </div>
  </div>
</div>
{% endblock main %}
