{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: Canada{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="canada" site_longname="Personal Genome Project: Canada" %}
{% endblock navbar %}

{# Uncomment and use this block to customize front page text. #}
{# {% block index_mainbox_content %} #}
{# {% endblock index_mainbox_content %} #}

{% block index_link_about %}{% url 'canada:about' %}{% endblock index_link_about %}

{% block index_link_sign_up %}{% url 'canada:sign-up' %}{% endblock index_link_sign_up %}

{% block index_link_data %}{% url 'canada:data' %}{% endblock index_link_data %}

{% block index_link_global_network %}{% url 'canada:global-network' %}{% endblock index_link_global_network %}

{% block footer %}
{% include "canada/footer.html" %}
{% endblock footer %}
