{% extends "www_personalgenomes_org/people.html" %}

{% block title %}Personal Genome Project: Canada{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top.html" with site_shortname="canada" site_longname="Personal Genome Project: Canada" active="People" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">Our team</h2>

<p>We still need to add content for this section, please come back soon!</p>

<div style="margin:30px 0px;"><a class="btn btn-large btn-primary" href="{% url 'canada:contact-us' %}">Click here to contact us</a></div>
{% endblock main %}

{% block footer %}
{% include "canada/footer.html" %}
{% endblock footer %}
