{% extends "canada/index.html" %}

{% block main %}
<div class="lead">
  <h2 style="margin-top:34px;">Project Overview</h2>
  <p>In an unprecedented achievement, the Human Genome Project provided the first drafts of nearly complete human genome sequences in 2001 after more than a decade of effort by scientists worldwide. This information is now being used to advance medicine, human biology, and knowledge of human origins.</p>
  <p>We foresee a day when many individuals will want to get their own genome sequenced so that they may use this information to understand such things as their individual risk profiles for disease, their physical and biological characteristics, and their personal ancestries. To get to this point will require a critical mass of interested users, tools for obtaining and interpreting genome information, and supportive policy, research, and service communities. To catalyze these developments, we launched the Personal Genome Project Canada (PGP-Canada).</p>
{% endblock main %}
