{% extends "harvard/index.html" %}

{% block main %}
<div class="lead">
<h2 class="top-heading">Data & Samples</h2>

<div class="hero-unit-small">
  <div class="row-fluid">
    <div class="span8">
      <h3>Genome data</h3>
      <p>In addition to whole genome sequencing, the Harvard PGP has a variety of donated genetic data (ranging from externally-performed genomes and exomes to direct-to-consumer genotyping).</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/public_genetic_data" style="margin-top:40px;float:right;"><i class="icon-external-link"></i> Harvard PGP Genetic Data</a>
    </div>
  </div>
</div>

<div class="hero-unit-small">
  <div class="row-fluid">
    <div class="span8">
      <h3>Trait and survey data</h3>
      <p>The Harvard PGP data is uniquely valuable because it combines trait and health information with genetic data in a publicly available resource. Our trait surveys query participants regarding 239 self-reported traits.</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/google_surveys" style="margin-top:40px;float:right"><i class="icon-external-link"></i> Harvard PGP Survey Data</a>
    </div>
  </div>
</div>

<div class="hero-unit-small">
  <div class="row-fluid">
    <div class="span8">
      <h3>Participant profiles</h3>
      <p>Participant profiles present all public data associated with a participant, presenting genetic and trait data in the same place. Profiles also include medical data imported from electronic health records and diverse other types of data uploaded by participants.</p>
    </div>
    <div class="span4">
      <a class="btn btn-primary btn-large" href="https://my.personalgenomes.org/users" style="margin-top:40px;float:right"><i class="icon-external-link"></i> Browse Harvard PGP Participant Profiles</a>
    </div>
  </div>
</div>

{% endblock main %}
