{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: Harvard{% endblock title %}

{% block css-overrides %}
<style>
  body {
  padding-top: 50px;
  }
</style>
{% endblock css-overrides %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/harvard"><i class="icon-double-angle-right">   </i>Harvard</a>{% endblock brand %}


{% block navpills %}
<ul class="nav nav-tabs">
  <li><a href="{% url 'harvard:index' %}">Main</a></li>
  <li><a href="{% url 'harvard:people' %}">People</a></li>
  <li><a href="{% url 'harvard:documents' %}">Documents</a></li>
  <li><a href="{% url 'harvard:protocols' %}">Enrollment & Protocols</a></li>
  <li><a href="{% url 'harvard:data' %}" style="margin-right:20px">Data & Samples</a></li>
</ul>
{% endblock navpills %}

{% block main %}
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span9">
      <h1>PGP Harvard</h1>
      <p>The Harvard Personal Genome Project is the first Personal Genome Project site. Initiated by George Church in 2005, PGP Harvard has piloted the "open consent" framework to create the world's richest public resource combining human genetic data and tissues with diverse health and biological traits.</p>
      <a class="btn btn-primary btn-large" href="{% url 'harvard:protocols' %}">Read about enrollment</a>
    </div>
    <div class="span3">
      <img style="max-width:200px;float:right" src="/static/img/harvard/NRB_Ave_Louis_Pasteur.jpg"/>
    </div>
  </div>
</div>
{% endblock main %}
