{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: Harvard{% endblock title %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/harvard"><i class="icon-double-angle-right">   </i>Harvard</a>{% endblock brand %}

{% block css-overrides %}
<style>
  body {
  padding-top: 50px;
  }
</style>
{% endblock css-overrides %}

{% block navpills %}
<div class="row-fluid">
  <div class="span8">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'harvard:index' %}">Harvard PGP</a></li>
      <li><a href="{% url 'harvard:people' %}">People</a></li>
      <li><a href="{% url 'harvard:documents' %}">Documents</a></li>
      <li><a href="{% url 'harvard:protocols' %}">Enrollment & Protocols</a></li>
      <li><a href="{% url 'harvard:data' %}" style="margin-right:20px">Data & Samples</a></li>
    </ul>
  </div>
  <div class="span4">
    <div class="pull-right">
      <a class="btn" style="margin-top:8px;" href="{% url 'network' %}">Other PGP sites</a>
      <a class="btn btn-primary" style="margin-top:8px;" href="http://my.personalgenomes.org"><i class="icon-external-link"> </i>Participant log in</a>
      </div>
  </div>
</div>
{% endblock navpills %}

{% block main %}
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span9">
      <h1>PGP Harvard</h1>
      <p>The Harvard Personal Genome Project was initiated by George Church in 2005. As the first site in the global network, it has been devoted to prototyping and evaluating the open consent framework and related research practices. It began with a pilot study of ten fully identified individuals, known as the “PGP-10” and has incrementally scaled-up the cohort to thousands of enrolled volunteers.</p>
      <a class="btn btn-primary btn-large" href="{% url 'harvard:protocols' %}">Read about enrollment</a>
    </div>
    <div class="span3">
      <img style="max-width:200px;float:right" src="/static/img/harvard/NRB_Ave_Louis_Pasteur.jpg"/>
    </div>
  </div>
</div>
{% endblock main %}
