{% extends "harvard/index.html" %}

{% block main %}

<h2 class="top-heading">Enrollment & Participation Protocols</h2>

<h3>Enrollment Process and Requirements</h3>

<p>Something about enrollment process.<p>

<p>Requirements:</p>
<ul>
  <li>United States citizen or permanent resident</li>
  <li>At least 21 years of age</li>
  <li>Capable of giving autonomous consent (e.g. may not be enrolled by legal guardian)</li>
  <li>Not an employee of the principal investigator (George Church)</li>
</ul>

<a class="btn btn-primary" href="https://my.personalgenomes.org/signup"><i class="icon-external-link"> </i>Begin enrollment process</a>

<h3>Participating Medical Centers</h3>

<p>Enrollment in the PGP may require a visit to medical center at the participant's expense.  We want to limit the amount of time and out-of-pocket expense incurred by PGP participants. In order to provide alternatives for individuals who are unable to travel to Boston, we have added additional centers and services for blood collection. Currently, participating medical centers and facilities include:</p>

<ul>
  <li>
    Harvard Medical School (Boston, MA)
  </li>
  <li>
    North Shore Health System (Long Island, NY)
  </li>
  <li>
    Concentra Urgent Care (more than 300 locations nationwide)
  </li>
  <li>
    U.S. HealthWorks Medical Group (locations in more than 15 states)
  </li>
  <li>
    Hooper Holmes (a mobile phlebotomy provider with nationwide service)
  </li>
</ul>

{% endblock main %}

