{% extends "organization/menu_about.html" %}

{% block main %}
<h2 class="top-heading">Contact PersonalGenomes.org</h2>

<p class="lead">
  PersonalGenomes.org is a United States 501(c)(3) nonprofit organization that organizes the <a href="{% url 'organization:pgp' %}">Personal Genome Project</a>, as well as the <a href="http://www.getconference.org">GET conference</a> and the <a href="http://www.openhumans.org">Open Humans Network</a>.
</p>
<p class="lead">
If you would like to contact a regional Personal Genome Project, please look at our <a href="{% url 'organization:network' %}">global network</a> to find your local project.
</p>
<div class="lead">
<table class="table table-hover">
  <tr>
    <td style="width:40%;">
      <strong>Postal Address:</strong>
    </td>
    <td>
      PersonalGenomes.org<br />
      423 Brookline Avenue, #323<br />
      Boston MA 02215-5410
    </td>
  </tr>
  <tr>
    <td>
      <strong>Press and media inquiries:</strong>
    </td>
    <td>
      <a href="mailto:press@personalgenomes.org">press@personalgenomes.org</a>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Website and content related inquiries:</strong>
    </td>
    <td>
      <a href="mailto:website@personalgenomes.org">website@personalgenomes.org</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Donation related inquiries:</h4>
    </td>
    <td>
      <a href="mailto:giving@personalgenomes.org">giving@personalgenomes.org</a>
    </td>
  </tr>
</table>
    </div>
</div>

{% endblock main %}
