{% extends "organization/index.html" %}

{% block main %}

<!-- margin-top defined explicitly below instead of using class="top-heading"
     because no navpills are present on this page. -->
<h2 style="margin-top:34px">Donation Information</h2>

<p>We are looking to expand the capacity of the Personal Genome Project via the generosity of foundations, private companies, and individual donors. PersonalGenomes.org is qualified as a charitable organization under Section 501(c)(3) of the Internal Revenue Code. Contributions to PersonalGenomes.org are tax-deductible to the extent permitted by law.</p>

<h3>Ways to Give</h3>

<ul>
  <li><p><strong>Send a check</strong> payable to PersonalGenomes.org at the following address:</p>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span11"><p>
          PersonalGenomes.org<br />
	  423 Brookline Avenue, #323<br />
	  Boston MA 02215-5410
        </p>
      </div>
    </div>
  </li>
  <li><strong>Double your contribution</strong> by participating in your company’s matching gifts program.</li>
  <li>
    <strong>Gifts of Stock</strong>: Please send an email to <a href="mailto:giving@personalgenomes.org">giving@personalgenomes.org</a> for more information.
  </li>
  <li>
    <strong>Corporate Giving</strong>: Please send an email to <a href="mailto:giving@personalgenomes.org">giving@personalgenomes.org</a> for more information.
  </li>
</ul>

For further information about charitable giving, please <a href="giving@personalgenomes.org">contact us</a>.

<h3>Employee Matching Gifts</h3>
<p>Hundreds of companies and corporations offer matching gift programs for employees who wish to make financial contributions to 501(c)(3) charitable organizations such as PersonalGenomes.org. If you are planning to make a financial contribution, you should inquire at your company to see if they have a matching gift program. It can be easy way to double the size of your contribution!</p>

<h3>Tax information</h3>
<p>
  PersonalGenomes.org is a registered 501(c)(3) nonprofit corporation.<br />
  Federal Employer Identification Number (FEIN): 26-2973607<br />
  IRS Determination Letter: PersonalGenomes.org 501(c)(3)  (<a href="/static/docs/PGorg_IRS_501c3_Acceptance_Letter_July142008.pdf">PDF</a>)
</p>

{% endblock main %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
