{% extends "organization/menu_participate.html" %}
{% load i18n %}

{% block main %}

<h2 class="top-heading">{% trans "Participation is non-anonymous" %}</h2>

<p>{% trans "A surprisingly small amount of data is necessary to uniquely identify a person by name. For example, a zip code, birthdate and gender may be enough to infer someone’s identity with a high degree of accuracy. One of the most identifiable pieces of information is human DNA sequence: it can be used to predict a variety of medical conditions and traits, like hair and eye color, facial features and even surname." %}</p>

<p>{% trans "Because we cannot guarantee privacy and we are committed to sharing data for the advancement of science, we feel the most ethical and practical solution is to collaborate with individuals who are comfortable sharing their data without any promises of privacy, confidentiality or anonymity. We call this “open consent”." %}</p>

<p>{% trans "If you are considering enrolling in the Personal Genome Project (PGP) it is important that you understand that your data may become publicly identified, by name, as yours -- even if you exclude your full name or other identifiers like a facial photograph from your public profile. Any hesitation now could be cause for regret later, after it is too late to remove your data from the public domain." %}</p>

<p><a href="{% url 'organization:risks-benefits' %}" class="btn btn-primary btn-large" style="margin:30px">{% trans "Risks and benefits of participating" %} <i class="icon-angle-right"></i></a></p>

{% endblock main %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
