{% extends "organization/menu_participate.html" %}

{% block main %}

<h2 class="top-heading">Sign up at a PGP site</h2>

<hr />

<h3>Currently available sites and eligibility requirements</h3>

<div class="row-fluid">
  <div class="span6">
    <div class="heroine-unit">
      <div style="max-width:460px;margin-left:auto;margin-right:auto;">
	<h3>PGP Harvard</h3>
	<p style="margin-bottom:6px">Founded in Aug 2005.</p>
	<p style="">
          George Church Lab at Harvard Medical School<br />
	  Boston, MA  United States of America
        </p>
	<p style="margin-bottom:0px"><strong>Requirements:</strong></p>
	<ul>
	  <li>United States citizen or permanent resident</li>
	  <li>At least 21 years of age</li>
	</ul>
	<a class="btn btn-primary btn-large" href="{% url 'harvard:sign-up' %}" style="margin-bottom:20px"><i class="icon-double-angle-right">  </i>Read about Harvard PGP enrollment</a>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="heroine-unit">
      <div style="max-width:460px;margin-left:auto;margin-right:auto;">
	<h3>PGP Canada</h3>
	<p style="margin-bottom:6px">Founded in Dec 2012.</p>
	<p style="line-spacing:110%">
          McLaughlin Centre, University of Toronto and <br/>
          The Centre for Applied Genomics, Hospital for Sick Children<br/>
          Toronto, ON  Canada
        </p>
	<p style="margin-bottom:0px"><strong>Requirements:</strong></p>
	<ul>
	  <li>Canadian citizen</li>
	  <li>At least 18 years of age</li>
	</ul>
	<a class="btn btn-primary btn-large" href="{% url 'canada:sign-up' %}" style="margin-bottom:20px"><i class="icon-double-angle-right">  </i>Read about PGP Canada enrollment</a>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="heroine-unit">
      <div style="max-width:460px;margin-left:auto;margin-right:auto;">
	<h3>PGP UK</h3>
	<p style="margin-bottom:6px">Founded in Nov 2013.</p>
	<p style="line-spacing:110%">
          Stephan Beck Lab<br />
          University College London<br />
          London, United Kingdom
        </p>
	<p style="margin-bottom:0px"><strong>Requirements:</strong></p>
	<ul>
	  <li>United Kingdom citizen or permanent resident</li>
	  <li>At least 21 years of age</li>
	</ul>
	<a class="btn btn-primary btn-large" href="{% url 'uk:sign-up' %}" style="margin-bottom:20px"><i class="icon-double-angle-right">  </i>Read about PGP UK enrollment</a>
      </div>
    </div>
  </div>
</div>

<hr />

<h3>Don't meet requirements for the sites above?</h3>

<p>For individuals unable to join our existing projects due to citizenship and residency requirements, we invite you to record your interest in the PGP. Knowing your country helps us prioritize international expansion efforts. Also, by registering your interest we will be able to notify you if an opportunity later appears.</p>

<a class="btn" href="https://my.pgp-hms.org/international_participants"><i class="icon-external-link">  </i> Register your interest in a PGP for your country</a>

{% endblock main %}

{% block footer %}
{% include "organization/footer.html" %}
{% endblock footer %}
