{% extends "organization/menu_about.html" %}

{% block main %}

<h2 class="top-heading">Research articles</h2>

<p class="lead">Selected articles related to the PGP effort and/or using PGP resources.</p>

<table class="table table-striped">

<tr><th>Publication</th><th>Topics</th></tr>

<tr>
<td><strong>Optimization of Scarless Human Stem Cell Genome Editing</strong></br />
Yang L, Guell M, Byrne S, Yang JL, De Los Angeles A, Mali P, Aach J, Kim-Kiselak C, Briggs AW, Rios X, Huang PY, Daley G, Church G. Nucleic Acids Res. 2013 Jul 31. (<a href="http://nar.oxfordjournals.org/content/early/2013/07/31/nar.gkt555.full.pdf">PDF</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>Our genomes today: time to be clear</strong><br />
Jeantine E Lunshof and Madeleine P Ball. Genome Med. 2013 Jun 27;5(6):52. (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3706891/">full text</a>)</p></td>
<td><span class="label label-info">Bioethics</span></td>
</tr>

<tr>
<td><p><strong>RNA-guided human genome engineering via Cas9</strong></br />
Mali P, Yang L, Esvelt KM, Aach J, Guell M, DiCarlo JE, Norville JE, Church GM. Science. 2013 Feb 15;339(6121):823-6. (<a href="http://arep.med.harvard.edu/pdf/Mali_Sci_12.pdf">PDF</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>Genetic Privacy Needs a More Nuanced Approach</strong><br />
Misha Angrist, Nature, February 6, 2013.</p></td>
<td><span class="label label-info">Bioethics</span></td>
</tr>

<tr>
<td><p><strong>Accurate whole-genome sequencing and haplotyping from 10 to 20 human cells</strong><br />
Peters BA, Kermani BG, Sparks AB et al. Nature. 2012 Jul 11;487(7406):190-5. (<a href="http://www.nature.com/nature/journal/v487/n7406/pdf/nature11236.pdf">pdf</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>A Public Resource Facilitating Clinical Use of Genomes</strong><br />
Ball MP, Thakuria JV, Zaranek AW, Clegg T, Rosenbaum AM, Wu X, Angrist M, Bhak J, Bobe J, Callow M, Cano C, Chou MF, Chung WK, Douglas SM, Estep P, Gore A, Hulick P, Labarga A, Lee J, Lunshof J, Kim BC, Kim JI, Li Z, Murray MF, Nilsen GB, Peters B, Raman AM, Reinhoff HY, Robasky K, Wheeler M, Vandewege W, Vorhaus D, Yang JL, Yang L, Aach J, Ashley EA, Drmanac R, Kim SJ, Li JB, Peshkin L, Seidman CE, Seo JS, Zhang K, Rehm HL, Church GM. PNAS July 13, 2012.  (<a href="http://www.pnas.org/content/early/2012/07/12/1201904109.full.pdf+html">pdf+html</a>).</p></td>
<td><p><span class="label label-warning">Computational</span></p><p><span class="label label-important">Health & Disease</span></p><p><span class="label label-info">Bioethics</span></p></td>
</tr>

<tr>
<td><p><strong>Genomics and Privacy: Implications of the New Reality of Closed Data for the Field</strong></br />
Greenbaum D, Sboner A, Mu XJ, Gerstein M. PLoS Comput Biol. 2011 Dec;7(12):e1002278. (<a href="http://ncbi.nlm.nih.gov/pmc/articles/PMC3228779/">full text</a>)</p></td>
<td><p><span class="label label-warning">Computational</span></p><p><span class="label label-info">Bioethics</span></p></td>
</tr>

<tr>
<td><p><strong>Neuronal maturation defect in induced pluripotent stem cells from patients with Rett syndrome</strong><br />
Kim KY, Hysolli E, Park IH. Proc Natl Acad Sci U S A. 2011 Aug 23;108(34):14169-74. (<a href="http://www.ncbi.nlm.nih.gov/pubmed/21807996">full text</a>)</p></td>
<td><p><span class="label label-inverse">Biotechnology</span></p><p><span class="label label-important">Health & Disease</span></p></td>
</tr>

<tr>
<td><p><strong>Allele-specific methylation is prevalent and is contributed by CpG-SNPs in the human genome</strong><br />
Shoemaker R, Deng J, Wang W, Zhang K. Genome Res. 2010 Jul;20(7):883-9. (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2892089/">full text</a>)</p></td>
<td><p><span class="label label-success">Biodiscovery</span></p><p><span class="label label-inverse">Biotechnology</span></p></td>
</tr>

<tr>
<td><p><strong>Personal genomes in progress: From the Human Genome Project to the Personal Genome Project</strong><br />
Jeantine Lunshof, Jason Bobe, John Aach, Misha Angrist, Joseph Thakuria, Daniel Vorhaus, Margret Hoehe, George Church. Dialogues in Clinical Neuroscience. 12(1):47-60, 2010. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3181947/">article</a></p></td>
<td><span class="label label-info">Bioethics</span></td>
</tr>

<tr>
<td><p><strong>Targeted and whole-genome methylomics reveals gene-body signatures in human cell lines</strong><br />
Ball MP, Li JB, Gao Y, Lee J, LeProust E, Park I-H, Xie B, Daley GQ, Church GM. Nature Biotechnol 27:361-8.  (<a href="http://arep.med.harvard.edu/pdf/Ball_09.pdf">PDF</a>)</p></td>
<td><p><span class="label label-success">Biodiscovery</span></p><p><span class="label label-inverse">Biotechnology</span></p></td>
</tr>

<tr>
<td><p><strong>Multiplex padlock capturing and sequencing reveal human hypermutable CpG variations</strong><br />
Li JB, Gao Y, Aach J, Zhang K, Kryukov GV, Xie B, Ahlford A, Yoon J-K, Rosenbaum AM, Zaranek AW, LeProust E, Sunyaev SR, Church GM. Genome Res 19(9):1606-15. (<a href="http://arep.med.harvard.edu/pdf/Li_CpG_09.pdf">PDF</a>)</p></td>
<td><p><span class="label label-success">Biodiscovery</span></p><p><span class="label label-inverse">Biotechnology</span></p></td>
</tr>

<tr>
<td><p><strong>Digital RNA Allelotyping Reveals Tissue-specific and Allele-specific Gene Expression in Human</strong><br />
Zhang K, Li JB, Gao Y, Egli D, Xie B, Lee JH, Aach J, LeProust E, Eggan K, Church GM (20-Jul-2009) Nature Methods 6, 613 - 618. (<a href="http://www.nature.com/nmeth/journal/v6/n8/abs/nmeth.1357.html">abstract</a>)</p></td>
<td><p><span class="label label-success">Biodiscovery</span></p><p><span class="label label-inverse">Biotechnology</span></p></td>
</tr>

<tr>
<td><p><strong>Functional characterization of the antibiotic resistance reservoir in the human microflora</strong><br />
Sommer MO, Dantas G, Church GM. Science. 2009 Aug 28;325(5944):1128-31. (<a href="http://arep.med.harvard.edu/pdf/Sommer_09.pdf">PDF</a>)</p></td>
<td><p><span class="label label-success">Biodiscovery</span></p><p><span class="label label-inverse">Biotechnology</span></p><p><span class="label label-important">Health & Disease</span></p></td>
</tr>

<tr>
<td><p><strong>Generation of Functional Human Hepatic Endoderm from Human iPS cells</strong><br />
Sullivan GJ, Hay DC, Park IH, Fletcher J, Hannoun Z, Payne CM, Dalgetty D, Black JR, Ross J, Samuel K, Wang G, Daley GQ, Lee JH, Church GM, Forbes SJ, Iredale JP, Wilmut I. Hepatology. 2010 Jan;51(1):329-35. (<a href="http://onlinelibrary.wiley.com/doi/10.1002/hep.23335/full">full text</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>A robust approach to identifying tissue-specific gene expression regulatory variants using personalized human induced pluripotent stem cells</strong><br />
Lee JH, Park IH, Gao Y, Li JB, Li Z, Daley GQ, Zhang K, Church GM. PLoS Genet. 2009 Nov;5(11):e1000718. (<a href="http://www.plosgenetics.org/article/info%3Adoi%2F10.1371%2Fjournal.pgen.1000718">full text</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>Human genome sequencing using unchained base reads on self-assembling DNA nanoarrays</strong><br />
Drmanac R, Sparks AB, Callow MJ, Halpern AL, Burns NL, Kermani BG, Carnevali P, Nazarenko I, Nilsen GB, Yeung G, Dahl F, Fernandez A, Staker B, Pant KP, Baccash J, Borcherding AP, Brownley A, Cedeno R, Chen L, Chernikoff D, Cheung A, Chirita R, Curson B, Ebert JC, Hacker CR, Hartlage R, Hauser B, Huang S, Jiang Y, Karpinchyk V, Koenig M, Kong C, Landers T, Le C, Liu J, McBride CE, Morenzoni M, Morey RE, Mutch K, Perazich H, Perry K, Peters BA, Peterson J, Pethiyagoda CL, Pothuraju K, Richter C, Rosenbaum AM, Roy S, Shafto J, Sharanhovich U, Shannon KW, Sheppy CG, Sun M, Thakuria JV, Tran A, Vu D, Zaranek AW, Wu X, Drmanac S, Oliphant AR, Banyai WC, Martin B, Ballinger DG, Church GM, Reid CA. Science. 2010 Jan 1;327(5961):78-81. (<a href="http://arep.med.harvard.edu/pdf/Drmanac_09.pdf">PDF</a>)</p></td>
<td><span class="label label-inverse">Biotechnology</span></td>
</tr>

<tr>
<td><p><strong>From genetic privacy to open consent.</strong><br/>
Lunshof JE, Chadwick R, Vorhaus DB, Church GM (2008) From genetic privacy to open consent. Nat Rev Genet. 2008 May;9(5):406-11. PMID: 18379574 (<a href="http://arep.med.harvard.edu/pdf/Lunshof08.pdf">PDF</a>)</p></td>
<td><span class="label label-info">Bioethics</span></td>
</tr>

<tr>
<td><p><strong>The Personal Genome Project</strong><br />
George Church. Molecular Systems Biology, Dec 2005. (<a href="http://www.nature.com/msb/journal/v1/n1/full/msb4100040.html">full text</a>)</p></td>
<td><span class="label label-info">Bioethics</span></td>
</tr>

</table>

{% endblock main %}
