{% extends "organization/menu_participate.html" %}

{% block main %}

<h2 class="top-heading">Risks and Benefits</h2>

<h3>I. Risks of participation</h3>

<p>Because personal genome sequencing is a new human endeavor, as a society we lack a detailed understanding of all risks posed by an individual's genome sequence being known and widely shared.  At a minimum, individuals should be comfortable with a variety of worst-case scenarios and known risks.  In principle, anyone with sufficient knowledge could take a participant's genome and/or other personal information and use them to:</p>

<ul>
  <li>infer paternity or other features of the participant's genealogy</li>
  <li>claim statistical evidence that could affect employment or insurance or the ability to obtain financial services for the participant</li>
  <li>claim relatedness to criminals or incriminate relatives</li>
  <li>make synthetic DNA corresponding to the participant and plant it at a crime scene</li>
  <li>reveal propensity for a disease currently lacking effective treatment options</li>
</ul>

<p>The improvement of our understanding and management of these risks is as important a contribution to the long-term utility of personal genomics as any other this project and its participants may achieve.</p>

<hr />

<h3>II. Benefits of participation</h3>
<p>We wish to emphasize that there may be no personal benefit for participants in the PGP. Most benefits are expected to be societal in nature and are not likely to be realized immediately. Although one of our goals is to increase understanding of human health and disease, this is but one preliminary step in building the capability to apply these learnings to medical practice, improve clinical decision-making, or positively impact personal health. Moreover, we should not expect to make statistically significant discoveries while the number of participants is small. Although we expect a high level of interest from volunteers, the actual pace at which the project will expand to large numbers is unknown.</p>

<p>While there may be opportunities to provide participants with recommendations for diagnostic tests or medical consultation, in the near-term, the most likely outcomes of participation are the generation of large numbers of hypotheses by researchers about specific traits, the scientific evaluation of these hypotheses, and an expansion of our understanding of how genetic variation contributes to both the diversity and connectedness of human experience.</p>

<p>Motivations for participating in the Personal Genome Project might include:</p>

<ul>
  <li>the participation in a cause that aims to advance medicine and global health</li>
  <li>to contribute directly to a scientific endeavor</li>
  <li>self-curiosity</li>
</ul>

<p>Confining motivations to participate in the project to curiosity, science, and eventual societal impact is an intentional attempt to minimize potentially coercive lures of personal benefit. We also want to be realistic and set accurate expectations.</p>

<p><a href="{% url 'organization:pgp-sign-up' %}" class="btn btn-primary btn-large" style="margin:30px">Sign up to participate <i class="icon-angle-right"></i></a></p>

{% endblock main %}
