{% extends "www_personalgenomes_org/about-i18n.html" %}
{% load i18n %}

{% block title %}Genom Austria{% endblock title %}

{% block about-lead %}
<h2 style="margin-top:34px;">{% trans "About Genom Austria" %}</h2>

<p class="lead">
  {% blocktrans %}
  Genom Austria is an open science research project based at the CeMM
  Research Center of Molecular Medicine of the Austrian Academy of
  Science. Our collaborators include the Medicine University of Vienna,
  Harvard Medical School and the PersonalGenomes.org foundation which
  coordinates the Global Network of Personal Genome Projects.
  {% endblocktrans %}
</p>
{% endblock about-lead %}

{% block about-pgp-site-longname %}Genom Austria{% endblock %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top-i18n.html" with site_shortname="austria" site_longname="Genom Austria" active="About" %}
{% endblock navbar %}

{% block footer %}
{% include "austria/footer.html" %}
{% endblock footer %}
