{% extends "www_personalgenomes_org/contact-us-i18n.html" %}
{% load i18n %}

{% block title %}Genom Austria: the Austrian Personal Genome Project{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top-i18n.html" with site_shortname="austria" site_longname="Genom Austria: the Austrian Personal Genome Project" %}
{% endblock navbar %}

{% block contact_local %}
<h2>{% trans "Contact Genom Austria" %}</h3>
<p class="lead">{% trans "Contact address for all questions:" %} <a href="mailto:info@genomaustria.at">info@genomaustria.at</a></p>
{% endblock contact_local %}

{% block footer %}
{% include "austria/footer.html" %}
{% endblock footer %}
