{% extends "www_personalgenomes_org/index-i18n.html" %}
{% load i18n %}

{% block title %}
Genom Austria: the Austrian Personal Genome Project
{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top-i18n.html" with site_shortname="austria" site_longname="Genom Austria: the Austrian Personal Genome Project" %}
{% endblock navbar %}

{% block index_mainbox_content %}
{% blocktrans %}
Genom Austria (the Austrian Personal Genome Project) is dedicated to
creating a dataset of highly annotated open-access genomes and to
contribute to the public discussion about genomes in science, medicine
and society. Sharing data is critical to scientific progress, but has been
hampered by traditional research practices – our approach is to invite
willing participants to publicly share their personal data for the greater
good.
{% endblocktrans %}
{% endblock index_mainbox_content %}

{% block index_link_about_pgp %}
{% url 'austria:about-pgp' %}
{% endblock index_link_about_pgp %}

{% block index_mainbox_button_text %}
{% trans "Learn more about Genom Austria" %}
{% endblock %}

{% block index_link_sign_up %}
{% url 'austria:sign-up' %}
{% endblock index_link_sign_up %}

{% block index_link_data %}
{% url 'austria:data' %}
{% endblock index_link_data %}

{% block index_button_data_text %}
{% trans "Use Genom Austria data" %}
{% endblock %}

{% block index_link_global_network %}
{% url 'austria:global-network' %}
{% endblock index_link_global_network %}

{% block footer %}
{% include "austria/footer.html" %}
{% endblock footer %}
