{% extends "www_personalgenomes_org/news.html" %}
{% load i18n %}

{% block title %}Genom Austria{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top-i18n.html" with site_shortname="austria" site_longname="Genom Austria" active="Papers_and_news" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">{% trans "News" %}</h2>

<p class="lead">
    {% blocktrans %}
    Press information and relevant reports and news articles
    about Genom Austria are listed on the Genome Asutria website:
    <a href="http://www.genomaustria.at">http://www.genomaustria.at</a>
    {% endblocktrans %}
</p>

<p class="lead">
    {% trans "Contact address for all questions:" %}
    <a href="mailto:info@genomaustria.at">info@genomaustria.at</a>
</p>

<hr />

{% blocktrans %}
Information about other members of the Global Network of Personal Genome Projects are available from the
following websites:
{% endblocktrans %}

<ul>
  <li>{% blocktrans %}
    <a href="http://blog.personalgenomes.org">The Personal Genome
    Project blog</a> posts news and upadates about the
    Personal Genome Project at Harvard and the other projects that
    are associated with PersonalGenomes.org.
    {% endblocktrans %}</li>
  <li>{% blocktrans %}
    <a href="http://www.PersonalGenomes.org/harvard/news">The news page
      of the Personal Genome Project at Harvard</a> lists scientific papers and
      news reporting about the Personal Genome Project
    {% endblocktrans %}</li>
</ul>
{% endblock main %}

{% block footer %}
{% include "austria/footer.html" %}
{% endblock footer %}
