{% extends "www_personalgenomes_org/sign-up.html" %}
{% load i18n %}

{% block title %}Genom Austria{% endblock title %}

{% block navbar %}
{% include "www_personalgenomes_org/navbar_top-i18n.html" with site_shortname="austria" site_longname="Genom Austria" active="Sign-up" %}
{% endblock navbar %}

{% block main %}
<h2 style="margin-top:34px;">{% trans "Pre-registration for Genom Austria" %}</h2>

<p>
    {% blocktrans %}
    Genom Austria is accepting pre-registration by volunteers who are
    are considering to make their genome publicly available as part
    of Genom Austria.

    Pre-registering as a volunteer does not gurantee participation,
    as there will initially be resources available for only a handful
    of participants. Furthermore, in order to meet the highest ethical
    standards, all volunteers have to confirm that they understand the
    implications of making their personal genomes publicly available.
{% endblocktrans %}
</p>

<span class="lead"><b>{% trans "Requirements for volunteers:" %}</b></span>
<ul>
    <li><span class="lead">{% trans "At least 18 years of age" %}</span></li>
    <li><span class="lead">
        {% blocktrans %}
        No citizenship requirement, but preference will be given to
        volunteers who live in Austria or have other connections to Austria
        {% endblocktrans %}
    </span></li>
</ul>

<hr />
<p>{% trans "Pre-registration on the Genom Austria website" %}:</p>
<p><a class="btn btn-large" href="http://www.genomaustria.at">
    <i class="icon-external-link">  </i>
    {% trans "Genom Austria" %}</a></p>

<hr />
<h3>{% trans "Contact information" %}</h3>
<p class="lead">{% trans "Contact address for all questions:" %} <a href="mailto:info@genomaustria.at">info@genomaustria.at</a></p>
{% endblock main %}

{% block footer %}
{% include "canada/footer.html" %}
{% endblock footer %}
