{% extends "www_personalgenomes_org/index.html" %}

{% block title %}Personal Genome Project: Canada{% endblock title %}

{% block brand %}<a class="brand" href="/">Personal Genome Project</a><a class="brand" href="/canada"><i class="icon-double-angle-right">   </i>Canada</a>{% endblock brand %}

{% block navpills %}
<div class="row-fluid">
  <div class="span10">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'canada:index' %}">PGP Canada</a></li>
    </ul>
  </div>
  <div class="span2">
    <a class="btn pull-right" style="margin-top:8px;" href="{% url 'network' %}">Other PGP sites</a>
  </div>
</div>
{% endblock navpills %}

{% block main %}
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span9">
      <h1>PGP Canada</h1>
      <p>Volunteers from the public working together with researchers to advance personal genomics.</p>
      <a class="btn btn-primary btn-large" href="http://www.personalgenomes.ca/"><i class="icon-external-link">   </i>Visit our site to learn more!</a>
    </div>
    <div class="span3">
      <img style="max-width:200px;float:right" src="/static/img/pgp-logo-only-transp.png"/>
    </div>
  </div>
</div>
{% endblock main %}
