{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}

<h2>About Us</h2>

<a href="/mission">Mission</a>
We create public resources composed of human genetic, environmental and trait data donated and curated by volunteers from all over the world.

<a href="/board-of-directors">Board of Directors and Staff</a>

PGP Teams
<li>
<ul></ul><a href="/harvard">Harvard PGP</a></ul>
<ul>McLaughlin Centre PGP</ul>
<ul>Learn more about our global network</ul>
</li>

PersonalGenomes.org is a registered 501(c)(3) nonprofit corporation.
Federal Employer Identification Number (FEIN): 26-2973607
IRS Determination Letter: PersonalGenomes.org 501(c)(3)

{% endblock main %}
