{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}

<h2>About Us</h2>

<h3><a href="/mission">Mission</a></h3>
<p>We create public resources composed of human genetic, environmental and trait data donated and curated by volunteers from all over the world.</p>

<h3><a href="/board-of-directors">Board of Directors and Staff</a></h3>

<h3>PGP Teams</h3>
<li>
<ul><<a href="/harvard">Harvard PGP</a></ul>
<ul>McLaughlin Centre PGP</ul>
<ul>Learn more about our global network</ul>
</li>

<p>PersonalGenomes.org is a registered 501(c)(3) nonprofit corporation.</p>
<p>Federal Employer Identification Number (FEIN): 26-2973607</p>
<p>IRS Determination Letter: PersonalGenomes.org 501(c)(3)</p>

{% endblock main %}
