{% extends "www_personalgenomes_org/index.html" %}

{% block navbar_learn %}
<li class="active"><a href="#">Learn <b class="caret"></b></a></li>
{% endblock navbar_learn %}

{% block navpills %}
<ul class="nav nav-pills pull-right" style="margin-top:-20px;" >
  <li><a href="{% url 'mission' %}">Our Mission</a></li>
  <li><a href="/people.html">About Us</a></li>
  <li><a href="/faq.html">FAQ</a></li>
  <li><a href="/news.html">News</a></li>
  <li><a href="/international.html">New PGP Groups</a></li>
</ul>
{% endblock navpills %}


