{% extends "www_personalgenomes_org/index.html" %}

{% block navbar_about %}
<li class="active"><a href="#">About <b class="caret"></b></a></li>
{% endblock navbar_about %}

{% block navpills %}
<ul class="nav nav-pills pull-right" style="margin-top:-20px;" >
  <li><a href="{% url 'about-us' %}">About us</a><li>
  <li><a href="{% url 'mission' %}">Our mission</a></li>
  <li><a href="{% url 'press' %}">Press</a></li>
  <li><a href="{% url 'publications' %}">Publications</a></li>
  <li><a href="http://blog.personalgenomes.org"><i class="icon-external-link"></i> PGP Blog</a></li>
  <li><a href="http://www.getconference.org"><i class="icon-external-link"></i> GET Conference</a></li></ul>
{% endblock navpills %}
