{% extends "www_personalgenomes_org/index.html" %}

{% block navbar_globalnetwork %}
<li class="active"><a href="#">Global Network <b class="caret"></b></a></li>
{% endblock navbar_globalnetwork %}

{% block navpills %}
<ul class="nav nav-pills pull-right">
  <li><a href="{% url 'network' %}">PGP Network</a></li>
  <li><a href="{% url 'join-network' %}">Starting a PGP Site</a></li>
  <li><a href="{% url 'harvard:index' %}"><i class="icon-double-angle-right">  </i>PGP Harvard</a></li>
  <li><a href="{% url 'canada:index' %}"><i class="icon-double-angle-right">  </i>PGP Canada</a></li>
</ul>
{% endblock navpills %}
