{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}
<div class="lead">
<h2>Our Mission</h2>
<img src="static/img/pgp-logo-only-transp.png" style="float:right;width:20%;margin:10px">
<p>Our mission is to make a wide spectrum of human biological information accessible and actionable to increase biological literacy and improve human health.  We generate, aggregate and interpret information on a large scale, using open-source and open-access frameworks to promote standardization, cost reduction and tangible benefits for individual research participants, researchers and society at large. Our actions are informed by values encouraging greater transparency and dialogue between researchers and individual participants.</p>
{% endblock main %}
