{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}
<div class="lead">
<h2>Our Mission</h2>
<img src="static/img/pgp-logo-only-transp.png" style="float:right;width:20%;margin-left:10px">

<h3>Our Vision</h3>
<p>We believe obtaining a personal genome sequence will soon be a common experience shared by millions and possibly billions of individuals around the world. The cost of sequencing a human genome was once a multi-billion dollar exercise, but investments in technology development have driven down the cost nearly 1-million fold over the past ten years. Today, a reasonably complete human genome sequence (>90%) can be obtained for a few thousand dollars and a low resolution genome scan (<0.01%) is available for less than $100. We should expect that the number of individuals with access to their own genetic information will sky rocket over the next decade.</p>

<p>A human genome taken alone is not all that interesting scientifically. To improve our understanding of how a human genome interacts with its environment to form human traits, a much more holistic picture of the individual is needed. The ideal scientific resource would be to create a collection of many human genomes that remain connected to their owners who contribute additional information over their lifetime, such as longitudinal health status, medical history, environmental exposures, nutrition, lifestyle, physical measurements, blood chemistry, presence or absence of microbes and viruses, and many other molecular profiles and traits.</p>

<h3>The Dilemma</h3>
<p>Even if a person’s name, home address or facial photograph is specifically excluded, the dataset is far from anonymous. It is simply too easy for someone to connect the dots and reveal a person’s identity. Moreover, data breaches are not uncommon even in the most highly regulated arenas like national intelligence where secrets are heavily guarded with extensive security clearance protocols and background checks. We think it is very important to be honest about how difficult it is to simultaneously share and protect data.</p>

<p>Sharing data is critical for enabling discovery. Assembling under one roof a research team with the requisite expertise to generate, aggregate and interpret this dream dataset is unrealistic. Expertise is too diffuse. Major contributions might come from unconventional actors residing in far flung corners of the globe. Einstein started off as a patent clerk after all. Citizen scientists, hobbyists, amateurs and the participants themselves will undoubtedly make significant contributions as well.</p>

<h3>Our Model</h3>
<p>Turn the privacy problem on its head and work only with people who are willing to share their data publicly, with the understanding that re-identification is possible. Reduce potential misunderstandings by requiring prospective participants to demonstrate they comprehend the public, non-anonymous nature of this endeavor.</p>

<p>Seed a cohort of individuals with extensive genomic data and then invite a network of researchers to recruit from this cohort for additional phenotyping or molecular profiling, under the condition that they return computable datasets to the research participants who, in turn, may donate the data to the public domain for others to use.</p>

<p>Encourage widespread use of the public data resource for scientific research, education, prototyping new commercial products and services, benchmarking and standardization, personal use and many other possibilities.</p>

</div>
{% endblock main %}
