{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}
<div class="lead">
<h2>Our Mission</h2>
<img src="static/img/pgp-logo-only-transp.png" style="float:right;width:12%;margin-left:10px">
<p>Our mission is to make a wide spectrum of data about humans accessible and actionable to increase biological literacy and improve human health. We are a nonprofit organization working with leading scientists and volunteers to generate, aggregate and interpret human biological and trait data on an unprecedented scale using open-source, open-access and open-consent  frameworks. Our efforts are informed by values encouraging greater transparency and collaboration between researchers and participants.</p>
</div>
{% endblock main %}
