{% extends "www_personalgenomes_org/menu_globalnetwork.html" %}

{% block main %}
<div class="lead">
  <h2 class="top-heading">Global Network</h2>

  <p>We work with world-class institutions and leading researchers to establish new Personal Genome Project (PGP) sites around the globe. Each PGP site in our network adheres to a set of guidelines and best practices for creating open genomic data. Learn how to <a href="{% url 'join-network' %}">establish a PGP site</a> in your country.</p>
</div>

<hr />

<h3>North America</h3>
<div class="row-fluid">
  <div class="span6">
    <p><strong>PGP Harvard (United States)</strong><br />
      George Church Lab<br />
      Harvard Medical School<br />
      Founded 2005</p>
      <p><a class="btn" href="{% url 'harvard:index' %}"><i class="icon-double-angle-right">  </i>Visit Harvard PGP subsite</a></p>
  </div>
  <div class="span6">
    <p><strong>PGP McLaughlin Centre (Canada)</strong><br />
    McLaughlin Centre, University of Toronto and<br />
    The Centre for Applied Genomics, Hospital for Sick Children<br />
    Founded Dec 2012</p>
    <p><a class="btn" href="{% url 'mclaughlin_centre:index' %}"><i class="icon-double-angle-right">  </i>Visit McLaughlin Centre PGP subsite</a></p>
  </div>
</div>

<hr />
<h4>Europe</h4>
<div class="row-fluid">
  <div class="span6">
    New PGP site will launch on November 6, 2013.
  </div>
  <div class="span6">
    Site in development for early 2014.
  </div>
</div>

<hr />

<h4>South America</h4>
<div class="row-fluid">
  <div class="span6">
    Site in development.
  </div>
  <div class="span6">
  </div>
</div>

<hr />

<h4>Asia</h4>
<div class="row-fluid">
  <div class="span6">
    Site in development.
  </div>
  <div class="span6">
  </div>
</div>

{% endblock main %}
