{% extends "www_personalgenomes_org/menu_globalnetwork.html" %}

{% block main %}
<div class="lead">
  <h2 class="top-heading">Global Network</h2>

  <p>We work with world-class institutions and leading researchers to establish new Personal Genome Project (PGP) sites around the globe.  Each PGP site in our network adheres to a set of guidelines and best practices for creating open genomic data.  Learn how to establish a PGP site in your country.</p>
</div>

<h3>Current PGP Sites</h3>

<h4>North America</h4>
<ul>
  <li>
    <p><strong>PGP Harvard (United States)</strong><br />
    George Church Lab<br />
    Harvard Medical School<br />
    Founded 2005<br />
    <a class="btn" href="{% url 'harvard:index' %}"><i class="icon-double-angle-right">  </i>Learn more</a></p>
  </li>
  <li>
    <p><strong>PGP McLaughlin Centre (Canada)</strong><br />
    McLaughlin Centre, University of Toronto and<br />
    The Centre for Applied Genomics, Hospital for Sick Children<br />
    Founded Dec 2012<br />
    <a class="btn" href="{% url 'mclaughlin-centre' %}"><i class="icon-double-angle-right">  </i>Learn more</a></p>
  </li>
</ul>

<h4>Europe</h4>
<ul>
  <li>New PGP site will launch on November 6, 2013</li>
  <li>Site in development for early 2014</li>
</ul>

<h4>South America</h4>
<ul>
  <li>Site in development</li>
</ul>

<h4>Asia</h4>
<ul>
  <li>Site in development</li>
</ul>
{% endblock main %}
