{% extends "www_personalgenomes_org/menu_participate.html" %}

{% block main %}

<h2>Sign up at a PGP site</h2>

<hr />

<h3>Currently available sites and eligibility requirements</h3>

<div class="row">
  <div class="span6">
    <div class="hero-unit">
      <h3>Harvard University</h3>
      <p>George Church Lab at Harvard Medical School<br />
      Boston, MA  United States of America</p>
      <p style="margin-bottom:0px"><strong>Requirements:</strong></p>
      <ul>
	<li>United States citizen or permanent resident</li>
	<li>At least 21 years of age</li>
      </ul>
      <a class="btn btn-primary" href="https://my.personalgenomes.org/signup"><i class="icon-external-link"> </i>Sign up for Harvard PGP</a>
    </div>
  </div>
  <div class="span6">
    <div class="hero-unit">
      <h4>McLaughlin Center</h4>
      <p>SickKids Hospital and University of Toronto<br />
      Toronto, ON  Canada</p>
      <p style="margin-bottom:0px"><strong>Requirements:</strong></p>
      <ul>
	<li>Requirements</li>
	<li>listed here.</li>
      </ul>
    </div>
  </div>
</div>

<hr />

<h3>Don't meet requirements for the sites above?</h3>

<p>Something we want to tell people, sign up for mailing list, etc.</p>

{% endblock main %}
