{% extends "www_personalgenomes_org/menu_about.html" %}

{% block main %}

<h2>Research articles which use PGP tissues and resources</h2>

<ul>

<li><p><strong>Accurate whole-genome sequencing and haplotyping from 10 to 20 human cells</strong><br />
Peters BA, Kermani BG, Sparks AB et al. Nature. 2012 Jul 11;487(7406):190-5. (<a href="http://www.nature.com/nature/journal/v487/n7406/pdf/nature11236.pdf">pdf</a>)</p></li>

<li><p><strong>A Public Resource Facilitating Clinical Use of Genomes</strong><br />
Ball MP, Thakuria JV, Zaranek AW, Clegg T, Rosenbaum AM, Wu X, Angrist M, Bhak J, Bobe J, Callow M, Cano C, Chou MF, Chung WK, Douglas SM, Estep P, Gore A, Hulick P, Labarga A, Lee J, Lunshof J, Kim BC, Kim JI, Li Z, Murray MF, Nilsen GB, Peters B, Raman AM, Reinhoff HY, Robasky K, Wheeler M, Vandewege W, Vorhaus D, Yang JL, Yang L, Aach J, Ashley EA, Drmanac R, Kim SJ, Li JB, Peshkin L, Seidman CE, Seo JS, Zhang K, Rehm HL, Church GM. PNAS July 13, 2012.  (<a href="http://www.pnas.org/content/early/2012/07/12/1201904109.full.pdf+html">pdf+html</a>).</p></li>

<li><p><strong>Personal genomes in progress: From the Human Genome Project to the Personal Genome Project</strong><br />
Jeantine Lunshof, Jason Bobe, John Aach, Misha Angrist, Joseph Thakuria, Daniel Vorhaus, Margret Hoehe, George Church. Dialogues in Clinical Neuroscience. 12(1):47-60, 2010. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3181947/?tool=pubmed">article</a></p></li>

<li><p><strong>Targeted and whole-genome methylomics reveals gene-body signatures in human cell lines</strong><br />
Ball MP, Li JB, Gao Y, Lee J, LeProust E, Park I-H, Xie B, Daley GQ, Church GM. Nature Biotechnol 27:361-8.  (<a href="http://arep.med.harvard.edu/pdf/Ball_09.pdf">PDF</a>)</p></li>

<li><p><strong>Multiplex padlock capturing and sequencing reveal human hypermutable CpG variations</strong><br />
Li JB, Gao Y, Aach J, Zhang K, Kryukov GV, Xie B, Ahlford A, Yoon J-K, Rosenbaum AM, Zaranek AW, LeProust E, Sunyaev SR, Church GM. Genome Res 19(9):1606-15. (<a href="http://arep.med.harvard.edu/pdf/Li_CpG_09.pdf">PDF</a>)</p></li>

<li><p><strong>Digital RNA Allelotyping Reveals Tissue-specific and Allele-specific Gene Expression in Human</strong><br />
Zhang K, Li JB, Gao Y, Egli D, Xie B, Lee JH, Aach J, LeProust E, Eggan K, Church GM (20-Jul-2009) Nature Methods 6, 613 - 618. (<a href="http://www.nature.com/nmeth/journal/v6/n8/abs/nmeth.1357.html">abstract</a>)</p></li>

<li><p><strong>Functional characterization of the antibiotic resistance reservoir in the human microflora</strong><br />
Sommer MO, Dantas G, Church GM. Science. 2009 Aug 28;325(5944):1128-31. (<a href="http://arep.med.harvard.edu/pdf/Sommer_09.pdf">PDF</a>)</p></li>

<li><p><strong>Generation of Functional Human Hepatic Endoderm from Human iPS cells</strong><br />
Sullivan GJ, Hay DC, Park IH, Fletcher J, Hannoun Z, Payne CM, Dalgetty D, Black JR, Ross J, Samuel K, Wang G, Daley GQ, Lee JH, Church GM, Forbes SJ, Iredale JP, Wilmut I (2009) (Hepatology in press)</p></li>

<li><p><strong>Changes in Allele-specific Gene Expression In Human Induced Pluripotent Stem Cells</strong><br />
Lee J, Park IH, Gao Y, Li JB, Li Z, Daley G, Zhang K, Church GM (2009) (submitted to Nature Genetics)</p></li>

<li><p><strong>Clinical interpretation of variants in individual human genomes</strong><br />
Thakuria JV, Wu X, Zaranek AW, Rosenbaum AM, Li J, Hulick P, Murray M, Browning MF, Rienhoff HY, Cox G , Rehm H, Berry G , Church GM (2009) Clinical interpretation of variants in individual human genomes (in revision)</p></li>

<li><p><strong>Efficient sequencing of human genomes using unchained base reading on self-assembling DNA nanoarrays</strong><br />
Drmanac et al. (2009) (in preparation, for submission to Science).</p>

{% endblock main %}
