{% extends "www_personalgenomes_org/menu_participate.html" %}

{% block main %}

<h2>Risks and Benefits of Participation</h2>

<p>Traditionally, researchers made assurances regarding the confidentiality of data, as data was “anonymized” to protect privacy. In genomic studies participant data can be protected, but privacy and anonymity cannot be guaranteed. Even if precautions are taken, data security can be breached in many ways and assurances of anonymity are an over-promise.</p>

<p>Thus, participants in the Personal Genome Project are explicitly not promised anonymity. Our project recognizes that the public release of personal data and samples will expose participants to the risk of re-identification, and to other open-ended risks associated with the unrestricted sharing of data and samples.</p>

<p>Not all risks are known. This enrollment exam and the full consent form discuss some of the risks involved with participation -- including many hypothetical scenarios -- but there may be other risks we have not anticipated.</p>

<h3>I. Risks of participation</h3>
<p>Individuals interested in volunteering to become a participant in the PGP should not be hesitant about knowing and publicly sharing any part of their genomic, health, or medical data. Individuals enrolled in the project will be asked to voluntarily share medical records, to take questionnaires about their health, medical history and physical traits and to contribute other relevant data, such as a high-resolution facial photograph.</p>

<p>Because personal genome sequencing is a new human endeavor, as a society we lack a detailed understanding of all risks posed by an individual's genome sequence being known. At a minimum, individuals should be comfortable with a variety of worst-case scenarios and known risks.</p>

<p>In principle, anyone with sufficient knowledge could take a participant's genome and/or other personal information and use them to:</p>

<ul>
  <li>infer paternity or other features of the participant's genealogy</li>
  <li>claim statistical evidence that could affect employment or insurance or the ability to obtain financial services for the participant</li>
  <li>claim relatedness to criminals or incriminate relatives</li>
  <li>make synthetic DNA corresponding to the participant and plant it at a crime scene</li>
  <li>reveal propensity for a disease currently lacking effective treatment options</li>
</ul>

<p>The improvement of our understanding and management of these risks is as important a contribution to the long-term utility of personal genomics as any other this project and its participants may achieve.</p>

<hr />

<h3>III. Benefits of participation</h3>
<p>We wish to emphasize that there may be no personal benefit for participants in the PGP. Most benefits are societal in nature and will not be realized immediately. Although one of the goals of the Personal Genome Project is to increase our understanding of human health and disease, this is but one preliminary step in building the capability to apply these learnings to medical practice, improve clinical decision-making, or positively impact personal health.</p>

<p>While there may be opportunities to provide participants with recommendations for diagnostic tests or medical consultation, in the near-term, the most likely outcomes of participation are the generation of large numbers of hypotheses by researchers about specific traits, the scientific evaluation of these hypotheses, and an expansion of our understanding of how genetic variation contributes to both the diversity and connectedness of human experience. Moreover, we should not expect to make statistically significant discoveries while the number of participants is small. Although we expect a high level of interest from volunteers, the actual pace at which the project will expand to large numbers is unknown.</p>

Motivations for participating in the Personal Genome Project might include:
the participation in a cause that aims to advance medicine and global health
to contribute directly to a scientific endeavor
self-curiosity

Confining motivations to participate in the project to curiosity, science, and eventual societal impact is an intentional attempt to minimize potentially coercive lures of personal benefit. We also want to be realistic and set accurate expectations.

{% endblock main %}
