{% extends "www_personalgenomes_org/menu_research.html" %}

{% block main %}

<h2 class="top-heading">Sharing Policies</h2>

<p>PersonalGenomes.org is committed to sharing resources with the scientific community and the general public, so that people may collaborate in ways that have not been possible before.  We think this will promote discovery and accelerate our ability to understand how genomes and the environment combine to form human traits.  To this end, these are some of the legal tools we use in our research:</p>

<h3>"Open-Consent" protocol</h3>
<p>Our consent protocol is available for use and modification by PGP affiliates or other similar "public genomics" research studies.</p>
<ul>
  <li>What is "open consent"?  Read more about it (<a href="http://arep.med.harvard.edu/pdf/Lunshof08.pdf">PDF</a>).
  </li>
  <li>
    <a href="http://www.personalgenomes.org/consent/">http://www.personalgenomes.org/consent/</a>
  </li>
</ul>

<h3>Open Data</h3>
<p>We are creating a public repository of integrated genomic, environmental, and trait datasets.</p>
<ul>
  <li>
    "CC0" - <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode">http://creativecommons.org/publicdomain/zero/1.0/legalcode</a>
  </li>
</ul>

<h3>Open Source Software Licenses</h3>
<p>Our software development efforts are committed to using GPL and less restrictive (permissive and GPL compatible) open source licenses.</p>
<ul>
  <li>
    "GNU AGPLv3" - <a href="http://www.gnu.org/licenses/agpl-3.0.html">http://www.gnu.org/licenses/agpl-3.0.html</a>
  </li>
  <li>
    "GNU GPLv3" - <a href="http://www.gnu.org/licenses/gpl-3.0.html">http://www.gnu.org/licenses/gpl-3.0.html</a>
  </li>
  <li>
    "Apache v2 License" - <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a>
  <li>
    "CC0" - <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode ">http://creativecommons.org/publicdomain/zero/1.0/legalcode </a>
  </li>
</ul>

<h3>Open Access Text and Other Media Licenses</h3>
<ul>
  <li>
    "CC-BY-SA" - <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">http://creativecommons.org/licenses/by-sa/3.0/legalcode</a>
  </li>
  <li>
    "CC-BY" - <a href="http://creativecommons.org/licenses/by/3.0/legalcode">http://creativecommons.org/licenses/by/3.0/legalcode</a>
  </li>
  <li>
    "CC0" - <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode ">http://creativecommons.org/publicdomain/zero/1.0/legalcode </a>
  </li>
</ul>

  </div>

{% endblock main %}
