{% load base_extras %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Personal Genome Project{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="PersonalGenomes.org">

  <!-- Styles -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/local.css" rel="stylesheet">

  {% block css-overrides %}{% endblock css-overrides %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <meta name="google-site-verification" content="i_Dgdcie2SQMkX3VxijjJaKeVoHuHb4xiDGvh2Opv3s" />
</head>

<body>

<!-- Wrap all content other than footer here. -->
<div id="wrap">

  <!-- Navbar content -->
  {% block navbar %}
  {% include "organization/navbar_top.html" with active=None %}
  {% endblock navbar %}
  <div class="visible-desktop" style="height:41px;width:100%;"></div>

  <!-- Main page content -->
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %}
	        {% for tag in message.tags|split_on_space %} alert-{{ tag }}{% endfor %}
	        {% endif %}">
      {% if 'htmlsafe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </div>
    {% endfor %}
    {% endif %}

    <div class="row">
      <div class="span12">
        {% block navpills %}{% endblock navpills %}
      </div>
    </div>
    {% block main %}
    {% endblock main %}
    <div id="push"></div>
  </div>
</div>

<div id="footer">
  <hr />
  <div class="container">
    {% block footer %}
    {% endblock footer %}
  </div>
</div>


<!-- JS placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>

<!-- Set menu items to "active" if it matches our current page. 
<script>$(function () {
    $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
  });
</script>
-->

<!-- Fix mobile device bug, see this issue and solution:
     https://github.com/twbs/bootstrap/issues/4550#issuecomment-21361314 -->
<script>
  $('.dropdown-toggle').click(function(e) {
    e.preventDefault();
    setTimeout($.proxy(function() {
      if ('ontouchstart' in document.documentElement) {
        $(this).siblings('.dropdown-backdrop').off().remove();
      }
    }, this), 0);
  });
</script>
<script>
  $('.dropdown-toggle').click(function(e) {
    e.preventDefault();
    setTimeout($.proxy(function() {
      if ('ontouchstart' in document.documentElement) {
        $(this).siblings('.dropdown-backdrop').off().remove();
      }
    }, this), 0);
  });
</script>

{% block extrajs %}
{% endblock extrajs %}

</body>
</html>
